html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@media (max-width: 980px) {
  body {
    margin-top: 54px;
  }
}

.container:after {
  clear: both;
  content: " ";
  display: block;
}

main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -268px;
}

.push {
  height: 268px;
}

.wrapper {
  padding-left: 16px;
  padding-right: 16px;
  max-width: 1000px;
  min-width: 320px;
  margin: auto;
}

a {
  color: #000;
}

a:hover {
  color: #007cc2;
}

i {
  display: inline-block;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.all-news-link {
  font-size: 1.1em;
  line-height: 1.5em;
}

html {
  font-family: "Open Sans";
  font-size: 15px;
}

h2 {
  font-size: 1.5em;
  font-weight: 600;
  font-family: "Rubik";
  margin-bottom: 1.6em;
  line-height: 1.2em;
}

@media (max-width: 640px) {
  h2 {
    font-size: 1.1em;
    font-weight: 500;
  }
}

p {
  padding-bottom: 2em;
}

@media (max-width: 640px) {
  p {
    padding-bottom: 0.5em;
  }
}

b {
  font-weight: 600;
}

.ic_note {
  background-image: url(../images/sprite.png);
  background-position: -29px -74px;
  width: 29px;
  height: 21px;
}

.ic_note-hover {
  background-image: url(../images/sprite.png);
  background-position: 0px -74px;
  width: 29px;
  height: 21px;
}

.ic_search-white {
  background-image: url(../images/sprite.png);
  background-position: -80px -48px;
  width: 16px;
  height: 16px;
}

.ic_book {
  background-image: url(../images/sprite.png);
  background-position: -80px -27px;
  width: 21px;
  height: 21px;
}

.ic_right-arrow {
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 20px;
  height: 37px;
}

.ic_right-arrow-hover {
  background-image: url(../images/sprite.png);
  background-position: -40px 0px;
  width: 20px;
  height: 37px;
}

.ic_left-arrow {
  background-image: url(../images/sprite.png);
  background-position: -20px 0px;
  width: 20px;
  height: 37px;
}

.ic_left-arrow-hover {
  background-image: url(../images/sprite.png);
  background-position: -60px 0px;
  width: 20px;
  height: 37px;
}

.ic_triangle {
  background-image: url(../images/sprite.png);
  background-position: -58px -74px;
  width: 14px;
  height: 17px;
}

header {
  padding-top: 15px;
}

@media (max-width: 980px) {
  header {
    margin: 0;
    padding: 0;
  }
}

header .top-line {
  position: fixed;
  top: 0;
  width: 100%;
  display: none;
  background-color: #2196f3;
  color: #fff;
  z-index: 2;
}

@media (max-width: 980px) {
  header .top-line {
    display: block;
  }
}

header .top-line .wrapper {
  background-color: #2196f3;
}

header .top-line .mini-logo {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

header .top-line .table {
  height: 54px;
  width: 100%;
}

header .top-line .table .table-cell {
  vertical-align: middle;
}

header .top-line .table .table-cell:first-child {
  width: 10%;
  padding-right: 16px;
}

header .top-line .table .table-cell:nth-child(3) {
  width: 80%;
  text-align: right;
}

header .top-line .table .right-items {
  float: right;
}

header .top-line .table .cell-line {
  display: table-cell;
  padding-left: 10px;
  text-align: right;
  vertical-align: middle;
}

header .top-line .table .mobile-phones {
  font-size: 0.9em;
  line-height: 1.2em;
}

@media (max-width: 640px) {
  header .top-line .table .mobile-phones {
    display: none;
  }
}

header .top-line .table .mobile-search input[type=text] {
  width: 70%;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border: 0;
  height: 26px;
}

header .top-line .table .mobile-search .mobile-search-btn {
  background-color: transparent;
  border: 0;
  cursor: pointer;
  position: relative;
  top: 2px;
}

header .top-line .table .mobile-feedback button {
  background-color: transparent;
  border: 0;
}

@media (max-width: 980px) {
  header .top-section {
    display: none;
  }
}

header .top-section .container {
  padding-bottom: 7px;
  border-bottom: 1px solid #b9b9b9;
}

header .top-section .cell:first-child {
  float: left;
  margin-right: 4%;
  width: 33%;
}

header .top-section .cell:nth-child(2) {
  float: left;
  width: 41%;
}

header .top-section .cell:last-child {
  float: right;
  min-width: 200px;
  max-width: 20%;
  height: 54px;
  float: right;
  margin-right: 0;
}

header .top-section .cell .logo img {
  max-width: 100%;
}

header .top-section .cell .phone-numbers {
  text-align: right;
  padding-top: 3px;
  font-weight: 600;
  line-height: 1.3em;
  height: 54px;
  font-size: 1em;
}

header .top-section .cell .contact-address {
  line-height: 1.5em;
  height: 57px;
}

header .top-section .cell .feedback-btn {
  background-color: #fff;
  width: 100%;
  border: 1px solid;
  color: #00923f;
  height: 46px;
  font-size: 1.1em;
  font-family: "Open Sans";
  line-height: 2em;
  cursor: pointer;
}

header .top-section .cell .feedback-btn:hover {
  background-color: #1a923f;
  color: #fff;
}

header .top-section .cell .feedback-btn:hover i {
  background-image: url(../images/sprite.png);
  background-position: 0px -74px;
  width: 29px;
  height: 21px;
}

header .top-section .cell .feedback-btn i {
  position: relative;
  top: 3px;
  right: -4px;
}

footer {
  min-height: 380px;
  background-color: #000000;
}

footer .wrapper {
  background-color: #000000;
}

footer .wrapper .bottom-menu-wrapper {
  padding-top: 35px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer .wrapper .bottom-menu-wrapper:after {
  content: " ";
  display: block;
  clear: both;
}

footer .wrapper .bottom-menu-wrapper .coll {
  width: 22.58065%;
  float: left;
}

footer .wrapper .bottom-menu-wrapper .coll:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

footer .wrapper .bottom-menu-wrapper .coll:nth-child(4n + 2) {
  margin-left: 25.80645%;
  margin-right: -100%;
  clear: none;
}

footer .wrapper .bottom-menu-wrapper .coll:nth-child(4n + 3) {
  margin-left: 51.6129%;
  margin-right: -100%;
  clear: none;
}

footer .wrapper .bottom-menu-wrapper .coll:nth-child(4n + 4) {
  margin-left: 77.41935%;
  margin-right: -100%;
  clear: none;
}

footer .wrapper .bottom-menu-wrapper .coll > ul > li > a {
  font-size: 1.2em;
  font-weight: 600;
  padding-bottom: 20px;
  display: inline-block;
}

footer .wrapper .bottom-menu-wrapper .coll a {
  line-height: 1.5em;
  text-decoration: none;
  color: #fff;
}

footer .wrapper .bottom-menu-wrapper .coll a:hover, footer .wrapper .bottom-menu-wrapper .coll a.selected {
  color: #007cc2;
}

footer .bottom-contact-row {
  margin-top: 55px;
  border-bottom: 1px solid #252525;
  padding-bottom: 15px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

footer .bottom-contact-row:after {
  content: " ";
  display: block;
  clear: both;
}

footer .bottom-contact-row .cell {
  width: 33.33333%;
  float: left;
}

footer .bottom-contact-row .cell:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

footer .bottom-contact-row .cell:nth-child(3n + 2) {
  margin-left: 33.33333%;
  margin-right: -100%;
  clear: none;
}

footer .bottom-contact-row .cell:nth-child(3n + 3) {
  margin-left: 66.66667%;
  margin-right: -100%;
  clear: none;
}

footer .bottom-contact-row .contact-bottom {
  color: #fff;
}

footer .bottom-contact-row .contact-bottom > div {
  margin-bottom: 10px;
}

footer .bottom-contact-row .feed-back-button {
  color: #bed8e6;
  background-color: transparent;
  font-size: 1.1em;
  border: 1px solid;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  cursor: pointer;
}

footer .bottom-contact-row .feed-back-button:hover {
  background-color: #bed8e6;
  color: #000;
}

footer .bottom-line {
  padding-top: 15px;
  line-height: 1.7em;
  font-size: 0.7em;
}

footer .bottom-line .coop {
  float: left;
  color: #fff;
}

footer .bottom-line .dev {
  float: right;
  color: #fff;
  text-align: right;
}

.about {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin: 66px auto 40px;
}

.about:after {
  content: " ";
  display: block;
  clear: both;
}

.about .text {
  float: left;
  width: 63%;
  font-weight: 200;
  line-height: 1.4em;
}

@media (max-width: 640px) {
  .about .text {
    float: none;
    width: 100%;
    text-align: center;
  }
}

.about .text h2 {
  text-align: center;
}

.about .person-photo {
  margin-left: 3%;
  width: 34%;
  float: left;
  background-color: #f7f7f7;
  text-align: center;
  padding-bottom: 30px;
}

@media (max-width: 640px) {
  .about .person-photo {
    float: none;
    width: 100%;
  }
}

.about .person-photo img {
  margin-bottom: 25px;
  width: 100%;
  height: auto;
}

@media (max-width: 640px) {
  .about .person-photo img {
    float: none;
    width: 200px;
  }
}

.about .person-photo .position {
  font-style: italic;
  font-weight: 300;
  padding-bottom: 10px;
}

.ya-map {
  height: 300px;
  background-color: #ccc;
}

.search {
  position: relative;
}

.search:before {
  background-color: #b9b9b9;
  content: "";
  height: 20px;
  position: absolute;
  right: 14%;
  top: 14px;
  width: 1px;
}

.search input[type=text] {
  height: 43px;
  width: 96%;
  border: 1px solid #b9b9b9;
  padding-left: 4%;
  font-style: italic;
  font-size: 1.1em;
}

.search input[type=submit] {
  position: absolute;
  background-color: transparent;
  right: 15px;
  top: 10px;
  border: 0;
  cursor: pointer;
  background-image: url(../images/sprite.png);
  background-position: -80px 0px;
  width: 27px;
  height: 27px;
}

.search input[type=submit]:hover {
  background-image: url(../images/sprite.png);
  background-position: -40px -37px;
  width: 27px;
  height: 27px;
}

.top-menu {
  margin-top: 18px;
  height: 42px;
}

.top-menu li {
  display: inline-block;
  margin-left: 19px;
  margin-right: 12px;
}

.top-menu li:last-child {
  margin-right: 0;
}

@media (max-width: 1005px) {
  .top-menu li {
    margin-right: 13px;
    margin-left: 13px;
  }
}

.top-menu li a {
  padding-left: 3px;
  padding-right: 3px;
  text-decoration: none;
  font-size: 1.1em;
  padding-bottom: 18px;
}

.top-menu li a.selected, .top-menu li a:hover {
  color: #007cc2;
  border-bottom: 4px solid;
}

.slick-prev {
  position: absolute;
  left: -30px;
  top: 42%;
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;
  background-image: url(../images/sprite.png);
  background-position: -20px 0px;
  width: 20px;
  height: 37px;
}

.slick-next {
  position: absolute;
  right: -30px;
  top: 42%;
  background-color: transparent;
  border: none;
  font-size: 0;
  cursor: pointer;
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 20px;
  height: 37px;
}

.slick-dots {
  margin-left: 43%;
  margin-top: 10px;
}

.slick-dots li {
  display: inline-block;
  margin-left: 2px;
  margin-right: 2px;
}

.slick-dots li button {
  font-size: 0;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  height: 10px;
  width: 10px;
  border: 1px solid #b0c9d8;
  padding: 0;
  background-color: #fff;
  cursor: pointer;
}

.slick-dots li.slick-active button {
  background-color: #007cc2;
  border: 1px solid #007cc2;
}

/** VARIABLES 
===================================*/
/** RESET AND LAYOUT
===================================*/
.bx-wrapper {
  position: relative;
  margin: 0 auto 25px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

.bxslider {
  margin: 0;
  padding: 0;
}

ul.bxslider {
  list-style: none;
}

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}

/** THEME
===================================*/
.bx-wrapper {
  background: #fff;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}

/* LOADER */
.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url("/images/bx_loader.gif") center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2000;
}

/* PAGER */
.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}

/* DIRECTION CONTROLS (NEXT / PREV) */
.bx-wrapper .bx-prev {
  left: 10px;
  background: url("/images/controls.png") no-repeat 0 -32px;
}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url("/images/controls.png") no-repeat -43px -32px;
}

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 9999;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}

/* AUTO CONTROLS (START / STOP) */
.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url("/images/controls.png") -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url("/images/controls.png") -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */
.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}

/* IMAGE CAPTIONS */
.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

#slider {
  position: relative;
}

#slider .bx-wrapper .bx-controls-direction a {
  top: 89%;
}

#slider .bx-prev {
  left: 46.5%;
  background-image: url(../images/sprite.png);
  background-position: -20px 0px;
  width: 20px;
  height: 37px;
}

@media (max-width: 920px) {
  #slider .bx-prev {
    left: 44.5%;
  }
}

@media (max-width: 810px) {
  #slider .bx-prev {
    left: 41.5%;
  }
}

@media (max-width: 722px) {
  #slider .bx-prev {
    left: 38.5%;
  }
}

#slider .bx-prev:hover {
  background-image: url(../images/sprite.png);
  background-position: -60px 0px;
  width: 20px;
  height: 37px;
}

#slider .bx-next {
  right: 45%;
  background-image: url(../images/sprite.png);
  background-position: 0px 0px;
  width: 20px;
  height: 37px;
}

#slider .bx-next:hover {
  background-image: url(../images/sprite.png);
  background-position: -40px 0px;
  width: 20px;
  height: 37px;
}

#slider .slider-content {
  padding-right: 50%;
  color: #fff;
  padding-left: 50px;
  padding-top: 40px;
}

#slider .slider-content h2 {
  font-size: 2.4em;
  font-weight: 900;
  margin-bottom: 35px;
}

@media (max-width: 974px) {
  #slider .slider-content h2 {
    font-size: 1.2em;
  }
}

#slider .slider-content .slide-text {
  line-height: 1.4em;
  position: relative;
}

#slider .slider-content .slide-text:before {
  display: block;
  content: "";
  height: 1px;
  width: 200px;
  background-color: #fff;
  position: absolute;
  top: -20px;
}

#slider .slide-item {
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
}

#slider .btn-news-detail {
  margin-top: 90px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
  font-size: 1.1em;
  padding: 15px;
  background-color: #00923f;
  display: inline-block;
}

#slider .btn-news-detail i {
  margin-left: 10px;
  position: relative;
  top: 2px;
}

#bx-pager {
  padding-left: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  padding-top: 40px;
  padding-right: 50px;
  height: 100%;
  overflow: hidden;
  height: 410px;
  background-color: rgba(6, 105, 169, 0.7);
}

#bx-pager a {
  margin-bottom: 10px;
  color: #fff;
  font-size: 1.7em;
  display: inline-block;
  padding: 20px;
  padding-right: 60px;
  border: 1px solid transparent;
  text-decoration: none;
  height: 60px;
  overflow: hidden;
}

@media (max-width: 974px) {
  #bx-pager a {
    font-size: 1.2em;
  }
}

#bx-pager a .date {
  display: block;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 5px;
}

#bx-pager a.active {
  border: 1px solid;
  font-weight: 900;
}

.all-news-link {
  text-decoration: none;
}

.all-news-link span {
  border-bottom: 1px dashed;
}

.all-news-link i {
  position: relative;
  left: -15px;
  top: 6px;
}

@media (max-width: 702px) {
  #slider .slide-item {
    height: 350px;
  }
  #slider .slider-content {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }
  #bx-pager {
    display: none;
  }
  #slider .bx-prev {
    left: 10%;
  }
  #slider .bx-next {
    right: 10%;
  }
  #slider .btn-news-detail {
    margin-top: 20px;
  }
}

.city-info {
  margin-top: 70px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.city-info:after {
  content: " ";
  display: block;
  clear: both;
}

@media (max-width: 865px) {
  .city-info {
    margin-top: 50px;
    font-size: 0.6em;
  }
}

.city-info ul li {
  width: 21.05263%;
  float: left;
  color: #80b7d6;
}

.city-info ul li:nth-child(4n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.city-info ul li:nth-child(4n + 2) {
  margin-left: 26.31579%;
  margin-right: -100%;
  clear: none;
}

.city-info ul li:nth-child(4n + 3) {
  margin-left: 52.63158%;
  margin-right: -100%;
  clear: none;
}

.city-info ul li:nth-child(4n + 4) {
  margin-left: 78.94737%;
  margin-right: -100%;
  clear: none;
}

@media (max-width: 640px) {
  .city-info ul li {
    width: 44.44444%;
    float: left;
  }
  .city-info ul li:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .city-info ul li:nth-child(2n + 2) {
    margin-left: 55.55556%;
    margin-right: -100%;
    clear: none;
  }
  .city-info ul li div {
    padding: 0 !important;
    text-align: center;
  }
  .city-info ul li div .number:before {
    display: none !important;
  }
}

.city-info ul li:firt-child {
  text-align: left;
}

.city-info ul li:last-child div {
  padding-left: 50px;
}

.city-info ul li:last-child div .number:before {
  display: none;
}

.city-info ul li:nth-child(2) div .number:before {
  background-color: #80b7d6;
  content: "";
  display: block;
  height: 5px;
  left: 65%;
  position: absolute;
  top: 48%;
  width: 50%;
}

.city-info ul li:nth-child(3) div {
  padding-left: 30px;
}

.city-info ul li:nth-child(3) div .number:before {
  background-color: #80b7d6;
  content: "";
  display: block;
  height: 5px;
  left: 75%;
  position: absolute;
  top: 48%;
  width: 60%;
}

.city-info ul li .number {
  display: block;
  font-size: 6em;
  font-weight: 500;
  font-family: "Rubik";
  position: relative;
}

.city-info ul li .number:before {
  background-color: #80b7d6;
  content: "";
  display: block;
  height: 5px;
  left: 46%;
  position: absolute;
  top: 48%;
  width: 50%;
}

.city-info ul li .word {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 1.1rem;
}

.city-map {
  margin-top: 5em;
  margin-bottom: 30px;
}

.city-map h2 {
  text-align: center;
}

.city-map .container {
  height: 500px;
  background-color: #ccc;
}

.news-slider {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
}

.news-slider h2 {
  text-align: center;
}

@media (max-width: 642px) {
  .news-slider .slick-prev,
  .news-slider .slick-next {
    top: 30%;
  }
}

.news-slider #news-slick-slider .slide-row {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.news-slider #news-slick-slider .slide-row:after {
  content: " ";
  display: block;
  clear: both;
}

.news-slider #news-slick-slider .slide-row .item {
  height: 122px;
  background-color: #f7f7f7;
  margin-bottom: 3px;
  width: 33.11258%;
  float: left;
}

.news-slider #news-slick-slider .slide-row .item:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.news-slider #news-slick-slider .slide-row .item:nth-child(3n + 2) {
  margin-left: 33.44371%;
  margin-right: -100%;
  clear: none;
}

.news-slider #news-slick-slider .slide-row .item:nth-child(3n + 3) {
  margin-left: 66.88742%;
  margin-right: -100%;
  clear: none;
}

@media (max-width: 882px) {
  .news-slider #news-slick-slider .slide-row .item {
    width: 49.75124%;
    float: left;
  }
  .news-slider #news-slick-slider .slide-row .item:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .news-slider #news-slick-slider .slide-row .item:nth-child(2n + 2) {
    margin-left: 50.24876%;
    margin-right: -100%;
    clear: none;
  }
}

@media (max-width: 642px) {
  .news-slider #news-slick-slider .slide-row .item {
    width: 100%;
    float: left;
    text-align: center;
  }
  .news-slider #news-slick-slider .slide-row .item:nth-child(1n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: none;
  }
  .news-slider #news-slick-slider .slide-row .item .slick-prev,
  .news-slider #news-slick-slider .slide-row .item .slick-next {
    top: 60%;
  }
}

.news-slider #news-slick-slider .slide-row .item .item-wrapper {
  padding-left: 20px;
}

.news-slider #news-slick-slider .slide-row .item .item-wrapper a {
  float: left;
  height: 82px;
  padding-bottom: 20px;
  padding-left: 6%;
  padding-top: 20px;
  text-decoration: none;
  width: 65%;
}

.news-slider #news-slick-slider .slide-row .item .item-wrapper a .name {
  font-weight: 600;
  text-decoration: none;
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

.news-slider #news-slick-slider .slide-row .item .item-wrapper a:hover {
  color: #fff;
  background-color: #007cc2;
}

.news-slider #news-slick-slider .slide-row .item .item-wrapper a .text {
  margin-bottom: 1em;
  font-weight: 200;
}

.news-slider #news-slick-slider .slide-row .item .item-wrapper a .date {
  color: #b7cedb;
}

.news-slider #news-slick-slider .slide-row .item .item-wrapper .image {
  margin-top: 20px;
  float: left;
  margin-right: 20px;
}

@media (max-width: 1045px) {
  .news-slider #news-slick-slider .slide-row .item .item-wrapper .image {
    margin-right: 5px;
  }
}

.link-list {
  margin-bottom: 65px;
  margin-left: 30px;
  margin-right: 30px;
}

@media (max-width: 600px) {
  .link-list .table {
    width: 100%;
  }
}

.link-list .item {
  text-decoration: none;
}

.link-list .item .table-cell {
  vertical-align: middle;
  padding-right: 10px;
  padding-left: 10px;
}

.link-list .item span {
  font-size: 1.1em;
}

.link-list .slick-prev,
.link-list .slick-next {
  top: 27%;
}

.magazins {
  margin-bottom: 70px;
}

.magazins .magazin-list {
  margin-bottom: 20px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.magazins .magazin-list:after {
  content: " ";
  display: block;
  clear: both;
}

.magazins .magazin-list .item {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  margin-bottom: 2px;
  width: 16.39344%;
  float: left;
  height: 225px;
  text-align: center;
  text-decoration: none;
}

.magazins .magazin-list .item:nth-child(6n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.magazins .magazin-list .item:nth-child(6n + 2) {
  margin-left: 16.72131%;
  margin-right: -100%;
  clear: none;
}

.magazins .magazin-list .item:nth-child(6n + 3) {
  margin-left: 33.44262%;
  margin-right: -100%;
  clear: none;
}

.magazins .magazin-list .item:nth-child(6n + 4) {
  margin-left: 50.16393%;
  margin-right: -100%;
  clear: none;
}

.magazins .magazin-list .item:nth-child(6n + 5) {
  margin-left: 66.88525%;
  margin-right: -100%;
  clear: none;
}

.magazins .magazin-list .item:nth-child(6n + 6) {
  margin-left: 83.60656%;
  margin-right: -100%;
  clear: none;
}

@media (max-width: 950px) {
  .magazins .magazin-list .item {
    width: 32.89474%;
    float: left;
  }
  .magazins .magazin-list .item:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .magazins .magazin-list .item:nth-child(3n + 2) {
    margin-left: 33.55263%;
    margin-right: -100%;
    clear: none;
  }
  .magazins .magazin-list .item:nth-child(3n + 3) {
    margin-left: 67.10526%;
    margin-right: -100%;
    clear: none;
  }
}

@media (max-width: 640px) {
  .magazins .magazin-list .item {
    width: 49.50495%;
    float: left;
  }
  .magazins .magazin-list .item:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .magazins .magazin-list .item:nth-child(2n + 2) {
    margin-left: 50.49505%;
    margin-right: -100%;
    clear: none;
  }
}

.magazins .magazin-list .item:hover .item-wrapper {
  background-color: rgba(0, 0, 0, 0.6);
}

.magazins .magazin-list .item:hover .name {
  display: inline-block;
}

.magazins .magazin-list .item .item-wrapper {
  vertical-align: middle;
  height: 225px;
  width: 100%;
}

.magazins .magazin-list .item .item-wrapper .table-cell {
  vertical-align: middle;
}

.magazins .magazin-list .item .name {
  display: none;
  color: #fff;
  font-size: 1.4em;
  font-weight: 600;
  position: relative;
}

.magazins .magazin-list .item .name:before {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  top: -5px;
  left: 30%;
}

.magazins .magazin-list .item .name:after {
  display: block;
  content: "";
  width: 50px;
  height: 1px;
  background-color: #fff;
  position: absolute;
  bottom: -5px;
  left: 30%;
}

.gallery {
  margin-bottom: 75px;
}

.gallery .gallery-list {
  margin-bottom: 20px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.gallery .gallery-list:after {
  content: " ";
  display: block;
  clear: both;
}

.gallery .gallery-list .item {
  height: 142px;
  cursor: pointer;
  position: relative;
  width: 20%;
  float: left;
}

.gallery .gallery-list .item:nth-child(5n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}

.gallery .gallery-list .item:nth-child(5n + 2) {
  margin-left: 20%;
  margin-right: -100%;
  clear: none;
}

.gallery .gallery-list .item:nth-child(5n + 3) {
  margin-left: 40%;
  margin-right: -100%;
  clear: none;
}

.gallery .gallery-list .item:nth-child(5n + 4) {
  margin-left: 60%;
  margin-right: -100%;
  clear: none;
}

.gallery .gallery-list .item:nth-child(5n + 5) {
  margin-left: 80%;
  margin-right: -100%;
  clear: none;
}

@media (max-width: 950px) {
  .gallery .gallery-list .item {
    width: 25%;
    float: left;
  }
  .gallery .gallery-list .item:nth-child(4n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .gallery .gallery-list .item:nth-child(4n + 2) {
    margin-left: 25%;
    margin-right: -100%;
    clear: none;
  }
  .gallery .gallery-list .item:nth-child(4n + 3) {
    margin-left: 50%;
    margin-right: -100%;
    clear: none;
  }
  .gallery .gallery-list .item:nth-child(4n + 4) {
    margin-left: 75%;
    margin-right: -100%;
    clear: none;
  }
}

@media (max-width: 640px) {
  .gallery .gallery-list .item {
    width: 33.33333%;
    float: left;
  }
  .gallery .gallery-list .item:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .gallery .gallery-list .item:nth-child(3n + 2) {
    margin-left: 33.33333%;
    margin-right: -100%;
    clear: none;
  }
  .gallery .gallery-list .item:nth-child(3n + 3) {
    margin-left: 66.66667%;
    margin-right: -100%;
    clear: none;
  }
}

@media (max-width: 480px) {
  .gallery .gallery-list .item {
    width: 50%;
    float: left;
  }
  .gallery .gallery-list .item:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  .gallery .gallery-list .item:nth-child(2n + 2) {
    margin-left: 50%;
    margin-right: -100%;
    clear: none;
  }
}

.gallery .gallery-list .item img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.gallery .gallery-list .item img:hover {
  position: absolute;
  width: 110%;
  height: 110%;
  z-index: 1;
  top: -5%;
  left: -5%;
  padding: 4px;
  background-color: #fff;
  -webkit-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.5);
  opacity: 1;
}

/* BEGIN Light */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Light/OpenSans-Light.eot?v=1.1.0");
  src: url("../fonts/Light/OpenSans-Light.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Light/OpenSans-Light.woff2?v=1.1.0") format("woff2"), url("../fonts/Light/OpenSans-Light.woff?v=1.1.0") format("woff"), url("../fonts/Light/OpenSans-Light.ttf?v=1.1.0") format("truetype"), url("../fonts/Light/OpenSans-Light.svg?v=1.1.0#Light") format("svg");
  font-weight: 300;
  font-style: normal;
}

/* END Light */
/* BEGIN Light Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/LightItalic/OpenSans-LightItalic.eot?v=1.1.0");
  src: url("../fonts/LightItalic/OpenSans-LightItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/LightItalic/OpenSans-LightItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/LightItalic/OpenSans-LightItalic.woff?v=1.1.0") format("woff"), url("../fonts/LightItalic/OpenSans-LightItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/LightItalic/OpenSans-LightItalic.svg?v=1.1.0#LightItalic") format("svg");
  font-weight: 300;
  font-style: italic;
}

/* END Light Italic */
/* BEGIN Regular */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Regular/OpenSans-Regular.eot?v=1.1.0");
  src: url("../fonts/Regular/OpenSans-Regular.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Regular/OpenSans-Regular.woff2?v=1.1.0") format("woff2"), url("../fonts/Regular/OpenSans-Regular.woff?v=1.1.0") format("woff"), url("../fonts/Regular/OpenSans-Regular.ttf?v=1.1.0") format("truetype"), url("../fonts/Regular/OpenSans-Regular.svg?v=1.1.0#Regular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* END Regular */
/* BEGIN Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Italic/OpenSans-Italic.eot?v=1.1.0");
  src: url("../fonts/Italic/OpenSans-Italic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Italic/OpenSans-Italic.woff2?v=1.1.0") format("woff2"), url("../fonts/Italic/OpenSans-Italic.woff?v=1.1.0") format("woff"), url("../fonts/Italic/OpenSans-Italic.ttf?v=1.1.0") format("truetype"), url("../fonts/Italic/OpenSans-Italic.svg?v=1.1.0#Italic") format("svg");
  font-weight: normal;
  font-style: italic;
}

/* END Italic */
/* BEGIN Semibold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Semibold/OpenSans-Semibold.eot?v=1.1.0");
  src: url("../fonts/Semibold/OpenSans-Semibold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Semibold/OpenSans-Semibold.woff2?v=1.1.0") format("woff2"), url("../fonts/Semibold/OpenSans-Semibold.woff?v=1.1.0") format("woff"), url("../fonts/Semibold/OpenSans-Semibold.ttf?v=1.1.0") format("truetype"), url("../fonts/Semibold/OpenSans-Semibold.svg?v=1.1.0#Semibold") format("svg");
  font-weight: 600;
  font-style: normal;
}

/* END Semibold */
/* BEGIN Semibold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?v=1.1.0");
  src: url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.woff?v=1.1.0") format("woff"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/SemiboldItalic/OpenSans-SemiboldItalic.svg?v=1.1.0#SemiboldItalic") format("svg");
  font-weight: 600;
  font-style: italic;
}

/* END Semibold Italic */
/* BEGIN Bold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/Bold/OpenSans-Bold.eot?v=1.1.0");
  src: url("../fonts/Bold/OpenSans-Bold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/Bold/OpenSans-Bold.woff2?v=1.1.0") format("woff2"), url("../fonts/Bold/OpenSans-Bold.woff?v=1.1.0") format("woff"), url("../fonts/Bold/OpenSans-Bold.ttf?v=1.1.0") format("truetype"), url("../fonts/Bold/OpenSans-Bold.svg?v=1.1.0#Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}

/* END Bold */
/* BEGIN Bold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/BoldItalic/OpenSans-BoldItalic.eot?v=1.1.0");
  src: url("../fonts/BoldItalic/OpenSans-BoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/BoldItalic/OpenSans-BoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/BoldItalic/OpenSans-BoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/BoldItalic/OpenSans-BoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/BoldItalic/OpenSans-BoldItalic.svg?v=1.1.0#BoldItalic") format("svg");
  font-weight: bold;
  font-style: italic;
}

/* END Bold Italic */
/* BEGIN Extrabold */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/ExtraBold/OpenSans-ExtraBold.eot?v=1.1.0");
  src: url("../fonts/ExtraBold/OpenSans-ExtraBold.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/ExtraBold/OpenSans-ExtraBold.woff2?v=1.1.0") format("woff2"), url("../fonts/ExtraBold/OpenSans-ExtraBold.woff?v=1.1.0") format("woff"), url("../fonts/ExtraBold/OpenSans-ExtraBold.ttf?v=1.1.0") format("truetype"), url("../fonts/ExtraBold/OpenSans-ExtraBold.svg?v=1.1.0#ExtraBold") format("svg");
  font-weight: 800;
  font-style: normal;
}

/* END Extrabold */
/* BEGIN Extrabold Italic */
@font-face {
  font-family: 'Open Sans';
  src: url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?v=1.1.0");
  src: url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.eot?#iefix&v=1.1.0") format("embedded-opentype"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff2?v=1.1.0") format("woff2"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.woff?v=1.1.0") format("woff"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.ttf?v=1.1.0") format("truetype"), url("../fonts/ExtraBoldItalic/OpenSans-ExtraBoldItalic.svg?v=1.1.0#ExtraBoldItalic") format("svg");
  font-weight: 800;
  font-style: italic;
}

/* END Extrabold Italic */
@font-face {
  font-family: 'Rubik';
  src: url("/fonts/Rubik/Rubik-Italic.eot");
  src: url("/fonts/Rubik/Rubik-Italic.eot?#iefix") format("embedded-opentype"), url("/fonts/Rubik/Rubik-Italic.woff") format("woff"), url("/fonts/Rubik/Rubik-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url("/fonts/Rubik/Rubik-MediumItalic.eot");
  src: url("/fonts/Rubik/Rubik-MediumItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Rubik/Rubik-MediumItalic.woff") format("woff"), url("/fonts/Rubik/Rubik-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url("/fonts/Rubik/Rubik-Black.eot");
  src: url("/fonts/Rubik/Rubik-Black.eot?#iefix") format("embedded-opentype"), url("/fonts/Rubik/Rubik-Black.woff") format("woff"), url("/fonts/Rubik/Rubik-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url("/fonts/Rubik/Rubik-Medium.eot");
  src: url("/fonts/Rubik/Rubik-Medium.eot?#iefix") format("embedded-opentype"), url("/fonts/Rubik/Rubik-Medium.woff") format("woff"), url("/fonts/Rubik/Rubik-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url("/fonts/Rubik/Rubik-Regular.eot");
  src: url("/fonts/Rubik/Rubik-Regular.eot?#iefix") format("embedded-opentype"), url("/fonts/Rubik/Rubik-Regular.woff") format("woff"), url("/fonts/Rubik/Rubik-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Rubik';
  src: url("/fonts/Rubik/Rubik-BlackItalic.eot");
  src: url("/fonts/Rubik/Rubik-BlackItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Rubik/Rubik-BlackItalic.woff") format("woff"), url("/fonts/Rubik/Rubik-BlackItalic.ttf") format("truetype");
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url("/fonts/Rubik/Rubik-BoldItalic.eot");
  src: url("/fonts/Rubik/Rubik-BoldItalic.eot?#iefix") format("embedded-opentype"), url("/fonts/Rubik/Rubik-BoldItalic.woff") format("woff"), url("/fonts/Rubik/Rubik-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Rubik';
  src: url("/fonts/Rubik/Rubik-Light.eot");
  src: url("/fonts/Rubik/Rubik-Light.eot?#iefix") format("embedded-opentype"), url("/fonts/Rubik/Rubik-Light.woff") format("woff"), url("/fonts/Rubik/Rubik-Light.ttf") format("truetype");
  font-weight: 300;
  font-style: normal;
}
