.breadcrumbs{
  margin-top: 2.5em;
  @include breakpoint(max-width $medium) {
    text-align: center;
    padding-top: 1em;
  }
  ul{
    li{
      display: inline-block;
      a{
        position: relative;
        &:after{
          display: inline-block;
          content: ">";
          vertical-align: middle;
          padding-left: 5px;
        }
      }
      span{
        color: $link-hover-color;
      }
    }
  }
}