.magazine-release {
  h2 {
    text-align: center;
    margin-bottom: 0.5em;
  }
  .descr {
    text-align: center;
    line-height: 1.6em;
    font-weight: 200;
    margin-bottom: 2.4em;
  }
  .list {
    @include container;
    .cell {
      margin-bottom: 3.3%;
      @include span(1 of 3 inside 0);
      @include breakpoint(max-width $medium) {
        @include span(1 of 1 inside 0);
        float: none;
        text-align: center;
      }
      .date-name {
        font-weight: 800;
        margin-bottom: 1em;
      }
      .item {
        height: 239px;
        overflow: hidden;
        @include container;
        @include breakpoint(max-width $medium) {
          overflow: unset;
          height: auto;
        }
        .img {
          float: left;
          width: 46%;
          img {
            max-width: 100%;
          }
          @include breakpoint(max-width $medium) {
            float: none;
            width: 100%;
            margin-bottom: 1em;
          }
        }
        .text {
          float: left;
          width: 40%;
          font-weight: 200;
          margin-left: 3%;
          padding-right: 5%;
          @include breakpoint(max-width $medium) {
            float: none;
            width: 100%;
            margin-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
  .magazine-search {
    text-align: center;
    margin-bottom: 4.9em;
    margin-top: 4em;
    @include breakpoint(max-width $medium) {
      margin-bottom: 1em;
    }
    .cell {
      display: inline-block;
      vertical-align: middle;
      width: 30%;
      margin-left: 0.5%;
      margin-right: 0.5%;
      &:first-child {
        text-align: left;
        width: 21%;
        font-size: 1.1em;
        @include breakpoint(max-width $medium) {
          text-align: center;
          width: 100%;
        }
      }
      &:nth-child(2) {
        width: 25%;
        @include breakpoint(max-width $medium) {
          width: 100%;
        }
      }
      &:nth-child(3) {
        width: 25%;
        @include breakpoint(max-width $medium) {
          width: 100%;
        }
      }
      label {
        font-weight: 600;
      }
      .selectize-control {
        text-align: left;
      }
      @include breakpoint(max-width $medium) {
        width: 100%;
        margin-bottom: 1em;
      }
    }
    .search-result {
      margin-top: 3em;
      text-align: center;
      @include breakpoint(max-width $medium) {
        margin-top: 1em;
      }
      .date-name {
        font-weight: 800;
        margin-bottom: 1em;
      }
      .item {
        display: inline-block;
        text-align: left;
        height: 239px;
        overflow: hidden;
        width: 316px;
        @include breakpoint(max-width $medium) {
          overflow: unset;
          height: auto;
          text-align: center;
        }
        .img {
          float: left;
          width: 49%;
          img {
            max-width: 100%;
          }
          @include breakpoint(max-width $medium) {
            float: none;
            width: 100%;
            margin-bottom: 1em;
          }
        }
        .text {
          float: left;
          width: 45%;
          font-weight: 200;
          margin-left: 3%;
          @include breakpoint(max-width $medium) {
            float: none;
            width: 100%;
            margin-left: 0;
            padding-right: 0;
          }
        }
      }
    }
  }
}