footer {
  min-height: 380px;
  @include breakpoint(max-width 890px) {
    min-height: auto;
  }
  background-color: #000000;
  .wrapper {
    background-color: #000000;
    .bottom-menu-wrapper {
      padding-top: 23px;
      @include breakpoint(max-width 890px) {
        display: none;
      }
      @include container;
      .coll {
        @include gallery(1 of 4 1/7);
        >ul>li>a {
          font-size: 1.2em;
          font-weight: 600;
          padding-bottom: 20px;
          display: inline-block;
        }
        a {
          line-height: 1.5em;
          text-decoration: none;
          color: #fff;
          &:hover,
          &.selected {
            color: $link-hover-color;
          }
        }
      }
    }
  }
  .bottom-contact-row {
    padding-top: 55px;
    border-bottom: 1px solid #252525;
    padding-bottom: 15px;
    @include container;
    @include breakpoint(max-width 890px) {
      padding-top: 15px;
    }
    .cell {
      @include gallery(1 of 3 0);
      &.text-right {
        margin-top: 15px;
      }
      @include breakpoint(max-width 890px) {
         @include gallery(1 of 1 0);
        float: none;
        text-align: center;
      }
    }
    .soc-icons {
      margin-top: 20px;
      li {
        display: inline-block;
        margin-left: 10px;
        margin-right: 10px;
        i {
          cursor: pointer;
        }
      }
    }
    .contact-bottom {
      color: #fff;
      >div {
        margin-bottom: 10px;
      }
    }
    .feed-back-button {
      color: #bed8e6;
      background-color: transparent;
      font-size: 1.1em;
      border: 1px solid;
      padding: 10px;
      padding-left: 20px;
      padding-right: 20px;
      cursor: pointer;
      &:hover {
        background-color: #bed8e6;
        color: #000;
      }
    }
  }
  .bottom-line {
    padding-top: 15px;
    line-height: 1.7em;
    font-size: 0.7em;
    min-height: 40px;
    .coop {
      float: left;
      color: #fff;
    }
    .dev {
      float: right;
      color: #fff;
      text-align: right;
    }
    @include breakpoint(max-width $small){
      .coop{
        float: none;
        text-align: center;
        margin-bottom: 10px;
      }
      .dev{
        float: none;
        text-align: center;
        padding-bottom: 10px;
      }
    }
  }
}