<div class="magazine-release">
  <h2>Выпуски журнала</h2>
  <div class="descr">
    <div>Перед Вами 12 последних выпусков журанала "Местное самоуправление Кубани"</div>
    <div>Если Вам нужны более ранние выпуски, воспользутесь поиском выпуска по дате</div>
  </div>
  <div class="list">
    <!--foreach $arResult-->
    {% for item in magazins %}
    <div class="cell">
      <div class="item">
        <div class="date-name">{{ item.dateName }}</div>

        <div class="img">
          <a href="" title=""><img src="{{ item.img }}" alt=""></a>
        </div>
        <div class="text">
          {{item.text}}
        </div>
      </div>
    </div>
    {% endfor %}
    <!--endforeach-->
  </div>

  <div class="magazine-search">
    <div class="cell">
      <label for="select_year">Поиск выпуска журнала</label>
    </div>
    <div class="cell">
      <select name="year" id="select_year">
        <option value="default" selected="selected">Выбрать год</option>
        <option value="2016">2016</option>
      </select>
    </div>
    <div class="cell">
      <select name="month" id="select_month">
        <option value="default" selected="selected">Выбрать месяц</option>
        <option value="june">Июль</option>
      </select>
    </div>
    <div class="search-result">
      <div class="item">
        <div class="date-name">Январь-февраль 2017</div>
        <div class="img">
          <a href="" title="">
            <img src="./images/magazin.png" alt="">
          </a>
        </div>
        <div class="text"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur voluptatem doloremque sequi consectetur ducimus libero magnam voluptates recusandae optio fugiat, perferendis ab eligendi blanditiis, id quaerat adipisci consequuntur nam omnis. </div>
      </div>
    </div>
  </div>

</div>