<div class="magazine-subscribe">
  <h2>Подписка на журнал</h2>
  <div class="descr">
    Если Вы хотите получать наше издание в бумажной и цифровой
    <br> форме, оформите подписку на журнал в специальной форме ниже
  </div>
  <div class="subscribe-form">
    <form action="" method="post">
      <div class="block">
        <div class="row">
          <div class="cell">
            <input type="text" placeholder="Фамилия" name="soname">
          </div>
          <div class="cell">
            <input type="text" placeholder="Имя" name="name">
          </div>
          <div class="cell">
            <input type="text" placeholder="Отчество" name="secondname">
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <input type="text" placeholder="Должность" name="position">
          </div>
          <div class="cell">
            <input type="text" placeholder="E-mail" name="email">
          </div>
          <div class="cell">
            <input type="text" placeholder="Номер" name="phonenumber">
          </div>
        </div>
        <div class="row">
          <div class="cell">
            <input type="text" placeholder="Почтовый индекс">
          </div>
          <div class="cell">
            <input type="text" placeholder="Почтовый адрес">
          </div>
        </div>
        <div class="row bottom-row">
          <div class="cell-bottom ">
            <div class="table">
              <div class="input-block">
                <span class="capcha-label">Введите код безопастности</span>
              </div>
              <div class="input-block text-center">
                <div class="capcha-img">
                  33434
                </div>
              </div>
              <div class="input-block capcha-input">
                <input type="text" placeholder="Код">
              </div>
            </div>
          </div>
          <div class="cell-bottom ">
            <div class="table">
              <div class="input-block">
                <button type="submit" class="base-btn green send">Отправить <i class="ic_triangle-2"></i></button>
              </div>
              <div class="input-block text-right">
                <input type="reset" value="Очистить форму" class="clear-form">
              </div>
              <div class="input-block text-right">
                <a href="" title="Закрыть" class="close-form">Закрыть</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>