body {
  @include breakpoint(max-width $medium) {
    margin-top: 54px;
  }
}

.container {
  &:after {
    clear: both;
    content: " ";
    display: block;
  }
}

* {
  margin: 0;
}

html,
body {
  height: 100%;
}

main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;
}

footer,
.push {
  height: 4em;
}

.wrapper {
  padding-left: $container-margin;
  padding-right: $container-margin;
  max-width: $max-width;
  min-width: $min-width;
  margin: auto;
}

.loader-process {
  position: relative;
  &:before {
    color: black;
    content: "Загрузка";
    display: block;
    font-size: 20px;
    left: 46%;
    opacity: 1;
    position: absolute;
    top: 38%;
    z-index: 1;
  }
  .bx-wrapper{
    opacity: 0;
  }
  #bx-pager{
    opacity: 0;
  }
}

a {
  color: $link-color;
  &:hover {
    color: $link-hover-color;
  }
}

i {
  display: inline-block;
}

.table {
  display: table;
}

.table-row {
  display: table-row;
}

.table-cell {
  display: table-cell;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.all-news-link {
  font-size: 1.1em;
  line-height: 1.5em;
}
.section-name{
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: 800;
  text-align: center;
  margin-top: 0.7em;
  margin-bottom: 0.5em;
    @include breakpoint(max-width $small){
    font-size: 1.1em;
      padding-top: 1em;
  }
}
.red{
  color: red;
}
.section-text{
  text-align: center;
  margin: auto;
  width: 60%;
  margin-bottom: 2.2em;
  line-height: 1.4em;
  font-weight: 200;
  @include breakpoint(max-width $small){
    width: 100%;
  }
}
.text-placeholder {color: #bebebe !important}