input[type=text],
textarea {
  width: 95%;
  height: 43px;
  border: 1px solid #b9b9b9;
  padding-left: 1em;
  font-style: italic;
  font-size: 1.1em;
   color: #000000;
  &:focus{
    border: 1px solid $link-hover-color;
    box-shadow: 0px 0px 2px 1px rgba(0, 200, 0, 0.3);
  }
}