{% extends './../layouts/master.html' %} {% block content %}
<div class="wrapper">
  <div class="about-page">
    <div class="text">
      <div>
        <h2 class="text-center">Основание совета</h2>
        <img src="../images/about-img.png" alt="" class="about-img-1">
        <p>Ассоциация «Совет муниципальных образований Краснодарского края» (далее - Совет) является некоммерческой организацией, созданной муниципальными образованиями Краснодарского края в целях обеспечения защиты прав муниципальных образований, являющихся членами Совета, и представления их общих интересов, а также обеспечения координации деятельности членов Совета по развитию правовой, организационной, финансово-экономической основ местного самоуправления в Краснодарском крае.</p>
        <p>
          Полное официальное наименование - Ассоциация «Совет муниципальных образований Краснодарского края», сокращенное наименование Совета - СМОКК. Полное официальное наименование - Ассоциация «Совет муниципальных образований Краснодарского края», сокращенное наименование Совета - СМОКК. Полное официальное наименование - Ассоциация «Совет муниципальных образований Краснодарского края», сокращенное наименование Совета СМОКК.
        </p>
      </div>
      <div>
        <h2 class="text-center">Цели и задачи</h2>
        <img src="./images/about-img-2.png" alt="" class="about-img-2">
        <p>Совет создан в соответствии с учредительным договором как некоммерческая организация, учрежденная муниципальными образованиями Краснодарского края. Ассоциация «Совет муниципальных образований Краснодарского края» (далее - Совет) является некоммерческой организацией, созданной муниципальными образованиями Краснодарского края в целях обеспечения защиты прав муниципальных образований, являющихся членами Совета, и представления их общих интересов, а также обеспечения координации деятельности членов Совета по развитию правовой, организационной, финансово-экономической основ местного самоуправления в Краснодарском крае. </p>
        <p>Совет создан в соответствии с учредительным договором как некоммерческая организация, учрежденная муниципальными образованиями Краснодарского края. Ассоциация «Совет муниципальных образований Краснодарского края» (далее - Совет) является некоммерческой организацией, созданной муниципальными образованиями Краснодарского края.</p>
      </div>
    </div>
    <!--start component slider-->
    <div class="about-slider">
      <!--foreach $arResult-->
      <div class="slide">
        <img src="./images/about-slide-1.png" alt="">
      </div>
      <div class="slide">
        <img src="./images/about-slide-2.png" alt="">
      </div>
      <!--endforeach-->
    </div>
    <!--end component slider-->

    <!--start component doc-association-->
    <div class="doc-assoc">
      <h2>Документы ассоциации</h2>
      <div class="list">
        <!--foreach $arResult-->

        <div class="row">
          <h3>Правовая основа деятельности</h3>
          <div class="item">
            <div class="content">
              <div class="name">Федеральный закон №131-ФЗ от 06.10.2003 года «Об общих принципах организации местного самоуправления» </div>
              <ul>
                <li>
                  <a href="" title="">Скачать в формате Pdf(20 Мб)</a>
                </li>
                <li>
                  <a href="" title="">Скачать в формате Pdf(20 Мб)</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <div class="name">Федеральный закон №131-ФЗ от 06.10.2003 года «Об общих принципах организации местного самоуправления» </div>
              <ul>
                <li>
                  <a href="" title="">Скачать в формате Pdf(20 Мб)</a>
                </li>
                <li>
                  <a href="" title="">Скачать в формате Pdf(20 Мб)</a>
                </li>
              </ul>
            </div>
          </div>
        </div>

        <div class="row">
          <h3>Учредительные документы</h3>
          <div class="item">
            <div class="content">
              <div class="name">Федеральный закон №131-ФЗ от 06.10.2003 года «Об общих принципах организации местного самоуправления» </div>
              <ul>
                <li>
                  <a href="" title="">Скачать в формате Pdf(20 Мб)</a>
                </li>
                <li>
                  <a href="" title="">Скачать в формате Pdf(20 Мб)</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <div class="name">Федеральный закон №131-ФЗ от 06.10.2003 года «Об общих принципах организации местного самоуправления» </div>
              <ul>
                <li>
                  <a href="" title="">Скачать в формате Pdf(20 Мб)</a>
                </li>
                <li>
                  <a href="" title="">Скачать в формате Pdf(20 Мб)</a>
                </li>
              </ul>
            </div>
          </div>
        </div>


        <div class="row">
          <h3>Членские взносы</h3>
          <div class="item">
            <div class="content">
              <div class="name">Федеральный закон №131-ФЗ от 06.10.2003 года «Об общих принципах организации местного самоуправления» </div>
              <ul>
                <li>
                  <a href="" title="">Скачать в формате Pdf(20 Мб)</a>
                </li>
                <li>
                  <a href="" title="">Скачать в формате Pdf(20 Мб)</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="item">
            <div class="content">
              <div class="name">Федеральный закон №131-ФЗ от 06.10.2003 года «Об общих принципах организации местного самоуправления» </div>
              <ul>
                <li>
                  <a href="" title="">Скачать в формате Pdf(20 Мб)</a>
                </li>
                <li>
                  <a href="" title="">Скачать в формате Pdf(20 Мб)</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <!--endforeach-->
      </div>
      <!--end component doc-association-->
    </div>
    <!--start include structur-->
    <div class="schema-img">
      <h2 class="text-center">Структура совета</h2>
      <img src="./images/schema.png" alt="">
    </div>
    <!--end include structur-->
  </div>
</div>
{% endblock %}