{% extends './../layouts/master.html' %} {% block content %}
<div class="wrapper">
  <div class="contact-page">
    <div class="contact-box">
      <div class="item">
        <div class="name">
          <img src="./images/logo-mini.png" alt="">
          <h3>Дирекция ассоциации "СМОКК"</h3>
        </div>
        <ul>
          <li>
           <span class="table-cell">
            <i class="ic_position"></i>
            </span>
            <span class="table-cell">г. Краснодар, ул. Ленина, 65 оф.307</span>
          </li>
          <li>
            <span class="table-cell">
            <i class="ic_mob-phone"></i>
            </span>
            <span class="table-cell">+7 (861) 275-10-50</span>
          </li>
          <li>
            <span class="table-cell">
              <i class="ic_printer"></i>
            </span>
            <span class="table-cell">+7 (861) 275-12-56 (факс)</span>
          </li>
          <li>
            <span class="table-cell">
            <i class="ic_mail"></i>
            </span>
            <a class="table-cell" href="mailto:info@smokk.ru" title="">info@smokk.ru</a>
          </li>
        </ul>
        <div class="photo-box">
          <div class="image">
            <img src="./images/person-photo.png" alt="">
            <div class="position">
              Председатель ассоциации
            </div>
            <div class="name">
              <b>Голобородько</b>
              <br>Сергей Анатольевич
            </div>
          </div>
          <div class="image">
            <img src="./images/empty-box.png" alt="">
            <div class="position">
              Исполнительный директор
            </div>
            <div class="name">
             <b>Наумкин</b>
              <br>Олег Владмириович
            </div>
          </div>
        </div>
      </div>

      <div class="item">
        <div class="name">
          <img src="./images/magazine-logo.png" alt="">
          <h3>Редакция журнала «МСК»</h3>
        </div>
        <ul>
          <li>
           <span class="table-cell">
            <i class="ic_position"></i>
            </span>
            <span class="table-cell">г. Краснодар, ул. Ленина, 65 оф.307</span>
          </li>
          <li>
            <span class="table-cell">
            <i class="ic_mob-phone"></i>
            </span>
            <span class="table-cell">+7 (861) 275-10-50</span>
          </li>
          <li>
            <span class="table-cell">
              <i class="ic_printer"></i>
            </span>
            <span class="table-cell">+7 (861) 275-12-56 (факс)</span>
          </li>
          <li>
            <span class="table-cell">
            <i class="ic_mail"></i>
            </span>
            <a class="table-cell" href="mailto:info@smokk.ru" title="">info@smokk.ru</a>
          </li>
        </ul>
        <div class="photo-box">
          <div class="image">
            <img src="./images/redactor.jpg" alt="">
            <div class="position">
              Председатель ассоциации
            </div>
            <div class="name">
              <b>Голобородько</b>
              <br>Сергей Анатольевич
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}