{% extends './../layouts/master.html' %} {% block content %}
<div class="wrapper">
  <div class="contact-page">
    <div class="contact-box">
      <div class="item">
        <div class="name">
          <h3>Дирекция ассоциации "СМОКК"</h3>
        </div>
        <ul>
          <li>
            <span>г. Краснодар, ул. Ленина, 65 оф.307</span>
          </li>
          <li>
            <span>+7 (861) 275-10-50</span>
          </li>
          <li>
            <span>+7 (861) 275-12-56 (факс)</span>
          </li>
          <li>
            <a href="mailto:info@smokk.ru" title="">info@smokk.ru</a>
          </li>
        </ul>
        <div class="photo-box">
          <div class="image">
            <img src="./images/empty-box.png" alt="">
            <div class="position">
              Председатель ассоциации
            </div>
            <div class="name">
              Голобородько
              <br>Сергей Анатольевич
            </div>
          </div>
          <div class="image">
            <img src="./images/empty-box.png" alt="">
            <div class="position">
              Исполнительный директор
            </div>
            <div class="name">
              Наумкин
              <br>Олег Владмириович
            </div>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="name">
          <h3>Дирекция ассоциации "СМОКК"</h3>
        </div>
        <ul>
          <li>
            <span>г. Краснодар, ул. Ленина, 65 оф.307</span>
          </li>
          <li>
            <span>+7 (861) 275-10-50</span>
          </li>
          <li>
            <span>+7 (861) 275-12-56 (факс)</span>
          </li>
          <li>
            <a href="mailto:info@smokk.ru" title="">info@smokk.ru</a>
          </li>
        </ul>
        <div class="photo-box">
          <div class="image">
            <img src="./images/redactor.jpg" alt="">
            <div class="position">
              Председатель ассоциации
            </div>
            <div class="name">
              Голобородько
              <br>Сергей Анатольевич
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}