{% extends './../layouts/master.html' %} {% block content %}
<div class="wrapper magazine-page">

  <div class="magazine-descr">
    <div class="container">
      <div class="cell-pic">
        <div class="image">
          <img src="./images/redactor.jpg" alt="">
          <div class="about-person">
            <div class="position">
              Главный редактор
            </div>
            <div class="name">
              <b>Соколова</b>
              <br>Словена Владимировна
            </div>
          </div>
        </div>
      </div>
      <div class="text">
         <div class="decor">&ldquo;</div>
        <h3>Журнал "Местное самоуправление кубани" </h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima fugit, doloremque, beatae similique molestiae ullam excepturi vero quae quaerat eaque, eum ad. Recusandae, nostrum, quaerat. Cupiditate mollitia, similique error nobis.</p>
      </div>
    </div>
  </div>
  <!--start component magazin release-->
 {% include './../components/magazine/magazine-release.html' %}
  <!--end component magazin release-->
  
  <!--start component magazine subscribe-->
  {% include './../components/magazine/magazine-subscribe.html' %}
  <!--end compnent magazine subscribe-->
  
</div>
{% endblock %}