<div class="wrapper">
  <div class="bottom-menu-wrapper">
    <div class="coll">
      <ul>
        <li>
          <a href="" title="О совете">О совете</a>
          <ul>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="coll">
      <ul>
        <li>
          <a href="" title="О совете">О совете</a>
          <ul>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="coll">
      <ul>
        <li>
          <a href="" title="О совете">О совете</a>
          <ul>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="coll">
      <ul>
        <li>
          <a href="" title="О совете">О совете</a>
          <ul>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
            <li>
              <a href="" title="">Подраздел подраздел</a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="bottom-contact-row">
    <div class="cell contact-bottom">
      <!--start include contact-->
      <div>г. Краснодар, ул. Ленина, 65, оф. 303 (3 этаж)</div>
      <div>Тел.: +7 (861) 275-10-50, +7 (861) 275-12-56</div>
      <div>E-mail: sovet-mokk23@rambler.ru</div>
      <!--end include contact-->
    </div>
    <div class="cell text-center">
      иконик
    </div>
    <div class="cell text-right">
      <button class="feed-back-button">Форма обратной связи</button>
    </div>
  </div>
  <div class="bottom-line">
    <div class="coop">
      Ассоциация «Совет муниципальных образований
      <br> Краснодарского края», 2007-2017
    </div>
    <div class="dev">
      Разработка сайта - Интеллект-сервис
      <br> Дизайн 2017 года
    </div>
  </div>
</div>