<!--start drop-down menu-->
<div id="drop-down-menu" class="d-menu">
  <ul>
    <li><a href="#" title="Главная">Главная</a></li>
    <li><a href="#" title="О совете">О совете</a></li>
    <li><a href="#" title="Информационно-правовая база">Информационно-правовая база</a></li>
    <li><a href="#" title="Обращения граждан">Обращения граждан</a></li>
    <li><a href="#" title="Журнал МСК">Журнал МСК</a></li>
    <li><a href="#" title="Контакты">Контакты</a></li>
  </ul>
</div>
<!--end drop-down menu-->
<!--start for mobile design-->
<div class="top-line">
  <div class="wrapper">
    <div class="container">
      <div class="table">
        <div class="table-cell">
          <i class="ic_open"></i>
        </div>
        <div class="table-cell">
          <div class="right-items">
            <div class="cell-line mobile-search">
              <form action="" method="post">
                <input type="text" placeholder="Поиск...">
                <button class="mobile-search-btn">
                  <i class="ic_search-white"></i>
                </button>
              </form>
            </div>
            <div class="cell-line  mobile-phones">
              <div>+7 (861) 275-10-50</div>
              <div>+7 (861) 275-12-56</div>
            </div>
            <div class="cell-line mobile-feedback show-feedback-box">
              <button><i class="ic_note-hover"></i></button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--end for mobile design-->
<div class="wrapper top-section">
  <div class="container">
    <div class="cell">
      <a href="" class="logo" title="Совет Муниципальных образований  Краснодарского края"><img src="./images/logo.png" alt=""></a>
    </div>
    <div class="cell">
      <div class="phone-numbers">
        <!--start include phone numbers-->
        <div>+7 (861) 275-10-50</div>
        <div>+7 (861) 275-12-56</div>
        <!--end include phone number-->
      </div>
      <div class="search-block">
        <!--start component search-->
        <div class="search">
          <form action="/" method="post">
            <input type="text" value="" placeholder="Поиск...">
            <input type="submit" value="" class="search-btn">
          </form>
        </div>
        <!--end component search-->
      </div>
    </div>
    <div class="cell">
      <div class="contact-address">
        <!--start include contact address-->
        <div>г.Краснодар, ул.Ленина, 65</div>
        <div>sovet-mokk23@rambler.ru</div>
        <!--end include contact address-->
      </div>
      <div class="feedback-block">
        <button class="feedback-btn show-feedback-box hvr-sweep-to-left-white">Написать нам <i class="ic_note"></i></button>
      </div>
    </div>
  </div>
  <div class="top-menu-block">
    <!--start component top menu-->
    <nav>
      <ul class="top-menu">
        <!--foreach $arResult-->
        <li>
          <a href="" title="Главная" class="selected">Главная</a>
        </li>
        <li>
          <a href="" title="О совете">О совете</a>
          <ul>
            <li>
              <a href="" title="Заголовок подраздела">Заголовок подраздела</a>
            </li>
            <li>
              <a href="" title="Заголовок подраздела">Заголовок подраздела</a>
            </li>
            <li>
              <a href="" title="Заголовок подраздела">Заголовок подраздела</a>
            </li>
          </ul>
        </li>
        <li>
          <a href="" title="Информационно-правовая база">Информационно-правовая база</a>
        </li>
        <li>
          <a href="" title="Обращения граждан">Обращения граждан</a>
        </li>
        <li>
          <a href="" title="Журнал МСК">Журнал МСК</a>
        </li>
        <li>
          <a href="" title="Контакты">Контакты</a>
        </li>
        <!--endforeach-->
      </ul>
    </nav>
    <!--end component top menu-->
  </div>
</div>
<div class="wrapper">
  <!--start component breadcrumbs-->
  {% if breadCrumbs%}
  <div class="breadcrumbs">
    <ul>
      {% for item in breadCrumbs %}
      <li>
        {% if loop.last %}
        <span>{{ item.name }}</span> {%else%}
        <a href="" title="{{ item.name }}">{{ item.name }}</a> {%endif%}
      </li>
      {% endfor %}
    </ul>
  </div>
  {%endif%}
  <!--end component breadcrumbs-->

  <!--start component sectionName-->
  {% if sectionName %}
  <h1 class="section-name">{{sectionName}}</h1> {% endif %}
  <!--end component sectionName-->
  
    <!--start component sectionText-->
  {% if sectionText %}
  <div class="section-text">{{sectionText}}</div> {% endif %}
  <!--end component sectionText-->
</div>