<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>{{ title }}</title>
  <!-- dev:css -->
  <link rel="stylesheet" href="./css/screen.css">
  <!-- endinject -->
  <!--slick:css-->
  <link rel="stylesheet" href="./libs/slick/css/slick.css">
  <!--endinject-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <header>
    {% include '../layouts/header.html' %}
  </header>
  <main>
    {% block content %}{% endblock %}
    <div class="push"></div>
  </main>
  <footer>
    {% include '../layouts/footer.html' %}
  </footer>
  <!--jquery:js-->
  <script src="./libs/jquery/js/jquery.min.js"></script>
  <!--endinject-->
  <!--drawer:js-->
  <!--endinject-->
  <!--bxslider:js-->
  <script src="./libs/bxslider/js/jquery.bxslider.js"></script>
  <!--endinject-->
  <!--slick:js-->
  <script src="./libs/slick/js/slick.min.js"></script>
  <!--endinject-->
  <!--raphael:js-->
  <script src="./libs/raphael/js/raphael.js"></script>
  <!--endinject-->
  <!--dev:js-->

  <script src="./js/drop-down-menu.js"></script>

  <script src="./js/main.js"></script>

  <script src="./js/map-path.js"></script>

  <!--endinject-->
  <!--
  <script src="http://pixp.fdrv.guru/pixp.js" type="text/javascript"></script>
  -->
</body>


</html>