.city-map {
  margin-top: 5em;
  margin-bottom: 30px;
  position: relative;
  h2 {
    text-align: center;
  }
  .container {}
  #map {

  }
  .point {
    position: absolute;
    display: none;
    background-color: transparent;
  }
  .point img {}
}