.city-map {
  margin-top: 5em;
  margin-bottom: 30px;
  position: relative;
  h2 {
    text-align: center;
  }
  .container {
    height: 500px;
    background-color: #ccc;
  }
  #map {
  }
  .point {
    position: absolute;
    display: none;
    background-color: transparent;
  }
  .point img {
  }
}