.city-map {
  margin-top: 5em;
  margin-bottom: 30px;
  position: relative;
  h2 {
    text-align: center;
  }
  .container {}
  .map {
    float: left;
    width: 52%;
  }
  .point {
    position: absolute;
    display: none;
    background-color: transparent;
  }
  .point img {
	width:50px;
	height:auto;
  }
  .city-list {
    float: left;
    width: 47%;
    margin-left: 1%;
    ul {
      &:first-child {
        width: 108px;
      }
      float: left;
      vertical-align: top;
      width: 180px;
      li {
        line-height: 1.5em;
        .head {
          margin-bottom: 1em;
          font-size: 1.2em;
          font-weight: 600;
        }
        margin-bottom: 15px;
        a {
          font-size: 0.9em;
          &.selected {
            color: $link-hover-color;
          }
        }
      }
    }
  }
}