.news-slider {
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 20px;
  h2 {
    text-align: center;
  }
  @include breakpoint(max-width 642px) {
    .slick-prev,
    .slick-next {
      top: 30%;
    }
  }
  #news-slick-slider {
    .slide-row {
      @include container;
      .item {
        height: 122px;
        background-color: #f7f7f7;
        margin-bottom: 3px;
        @include gallery(1 of 3 0.01);
        @include breakpoint(max-width 882px) {
          @include gallery(1 of 2 0.01);
        }
        @include breakpoint(max-width 642px) {
          @include gallery(1 of 1 0.01);
          text-align: center;
          .slick-prev,
          .slick-next {
            top: 60%;
          }
        }
        .item-wrapper {
          padding-left: 20px;
          a {
            float: left;
            height: 82px;
            padding-bottom: 20px;
            padding-left: 6%;
            padding-top: 20px;
            text-decoration: none;
            width: 65%;
            .name {
              font-weight: 600;
              text-decoration: none;
              font-size: 1.2em;
              margin-bottom: 0.3em;
            }
            &:hover {
              color: #fff;
              background-color: #007cc2;
            }
            .text {
              margin-bottom: 1em;
              font-weight: 200;
            }
            .date {
              color: #b7cedb;
            }
          }
          .image {
            margin-top: 20px;
            float: left;
            margin-right: 20px;
            @include breakpoint(max-width 1045px) {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}