/** VARIABLES 
===================================*/


/** RESET AND LAYOUT
===================================*/

.bx-wrapper {
  position: relative;
  margin: 0 auto 25px;
  padding: 0;
  *zoom: 1;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.bx-wrapper img {
  max-width: 100%;
  display: block;
}

.bxslider {
  margin: 0;
  padding: 0;
}

ul.bxslider {
  list-style: none;
}

.bx-viewport {
  /*fix other elements on the page moving (on Chrome)*/
  -webkit-transform: translatez(0);
}


/** THEME
===================================*/

.bx-wrapper {
  background: #fff;
}

.bx-wrapper .bx-pager,
.bx-wrapper .bx-controls-auto {
  position: absolute;
  bottom: -30px;
  width: 100%;
}


/* LOADER */

.bx-wrapper .bx-loading {
  min-height: 50px;
  background: url('#{$path-to-img}/bx_loader.gif') center center no-repeat #ffffff;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}


/* PAGER */

.bx-wrapper .bx-pager {
  text-align: center;
  font-size: .85em;
  font-family: Arial;
  font-weight: bold;
  color: #666;
  padding-top: 20px;
}

.bx-wrapper .bx-pager.bx-default-pager a {
  background: #666;
  text-indent: -9999px;
  display: block;
  width: 10px;
  height: 10px;
  margin: 0 5px;
  outline: 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover,
.bx-wrapper .bx-pager.bx-default-pager a.active,
.bx-wrapper .bx-pager.bx-default-pager a:focus {
  background: #000;
}

.bx-wrapper .bx-pager-item,
.bx-wrapper .bx-controls-auto .bx-controls-auto-item {
  display: inline-block;
  *zoom: 1;
  *display: inline;
}

.bx-wrapper .bx-pager-item {
  font-size: 0;
  line-height: 0;
}


/* DIRECTION CONTROLS (NEXT / PREV) */

.bx-wrapper .bx-prev {
  left: 10px;
  background: url('#{$path-to-img}/controls.png') no-repeat 0 -32px;
}

.bx-wrapper .bx-prev:hover,
.bx-wrapper .bx-prev:focus {
  background-position: 0 0;
}

.bx-wrapper .bx-next {
  right: 10px;
  background: url('#{$path-to-img}/controls.png') no-repeat -43px -32px;
}

.bx-wrapper .bx-next:hover,
.bx-wrapper .bx-next:focus {
  background-position: -43px 0;
}

.bx-wrapper .bx-controls-direction a {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  outline: 0;
  width: 32px;
  height: 32px;
  text-indent: -9999px;
  z-index: 1;
}

.bx-wrapper .bx-controls-direction a.disabled {
  display: none;
}


/* AUTO CONTROLS (START / STOP) */

.bx-wrapper .bx-controls-auto {
  text-align: center;
}

.bx-wrapper .bx-controls-auto .bx-start {
  display: block;
  text-indent: -9999px;
  width: 10px;
  height: 11px;
  outline: 0;
  background: url('#{$path-to-img}/controls.png') -86px -11px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-start:hover,
.bx-wrapper .bx-controls-auto .bx-start.active,
.bx-wrapper .bx-controls-auto .bx-start:focus {
  background-position: -86px 0;
}

.bx-wrapper .bx-controls-auto .bx-stop {
  display: block;
  text-indent: -9999px;
  width: 9px;
  height: 11px;
  outline: 0;
  background: url('#{$path-to-img}/controls.png') -86px -44px no-repeat;
  margin: 0 3px;
}

.bx-wrapper .bx-controls-auto .bx-stop:hover,
.bx-wrapper .bx-controls-auto .bx-stop.active,
.bx-wrapper .bx-controls-auto .bx-stop:focus {
  background-position: -86px -33px;
}


/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
  text-align: left;
  width: 80%;
}

.bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
  right: 0;
  width: 35px;
}


/* IMAGE CAPTIONS */

.bx-wrapper .bx-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  background: #666;
  background: rgba(80, 80, 80, 0.75);
  width: 100%;
}

.bx-wrapper .bx-caption span {
  color: #fff;
  font-family: Arial;
  display: block;
  font-size: .85em;
  padding: 10px;
}

#slider {
  position: relative;
  .bx-wrapper .bx-controls-direction a {
    top: 89%;
  }
  .bx-prev {
    left: 46.5%;
    @include breakpoint(max-width 920px) {
      left: 44.5%;
    }
    @include breakpoint(max-width 810px) {
      left: 41.5%;
    }
    @include breakpoint(max-width 722px) {
      left: 38.5%;
    }
    @include sprite($ic_left-arrow);
    &:hover {
      @include sprite($ic_left-arrow-hover);
    }
  }
  .bx-next {
    right: 45%;
    @include sprite($ic_right-arrow);
    &:hover {
      @include sprite($ic_right-arrow-hover);
    }
  }
  .slider-content {
    padding-right: 50%;
    color: #fff;
    padding-left: 50px;
    padding-top: 40px;
    h2 {
      font-size: 2.4em;
      font-weight: 900;
      margin-bottom: 35px;
      @include breakpoint(max-width 974px) {
        font-size: 1.2em;
      }
    }
    .slide-text {
      line-height: 1.4em;
      position: relative;
      &:before {
        display: block;
        content: "";
        height: 1px;
        width: 200px;
        background-color: #fff;
        position: absolute;
        top: -20px;
      }
    }
  }
  .slide-item {
    height: 450px;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .btn-news-detail {
    margin-top: 90px;
    color: #fff;
    font-weight: 600;
    text-decoration: none;
    font-size: 1.1em;
    padding: 15px;
    background-color: #00923f;
    display: inline-block;
    i {
      margin-left: 10px;
      position: relative;
      top: 2px;
    }
  }
}

#bx-pager {
  padding-left: 40px;
  position: absolute;
  right: 0;
  top: 0;
  width: 40%;
  padding-top: 40px;
  padding-right: 50px;
  height: 100%;
  overflow: hidden;
  height: 410px;
  background-color: rgba(6, 105, 169, 0.7);
  a {
    @include breakpoint(max-width 974px) {
      font-size: 1.2em;
    }
    margin-bottom: 10px;
    color: #fff;
    font-size: 1.7em;
    display: inline-block;
    padding: 20px;
    padding-right: 60px;
    border: 1px solid transparent;
    text-decoration: none;
    height: 60px;
    overflow: hidden;
    .date {
      display: block;
      font-size: 1rem;
      font-weight: 300;
      margin-top: 5px;
    }
    &.active {
      border: 1px solid;
      font-weight: 900;
    }
  }
}

.all-news-link {
  text-decoration: none;
  span {
    border-bottom: 1px dashed;
  }
  i {
    position: relative;
    left: -15px;
    top: 6px;
  }
}

@include breakpoint(max-width 702px) {
  #slider .slide-item{
    height: 350px;
  }
  #slider .slider-content{
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
  }
  #bx-pager {
    display: none;
  }
  #slider .bx-prev {
    left: 10%;
  }
  #slider .bx-next {
    right: 10%;
  }
  #slider .btn-news-detail {
    margin-top: 20px;
  }
}