$arrow-down2-name: 'arrow-down2';
$arrow-down2-x: 43px;
$arrow-down2-y: 36px;
$arrow-down2-offset-x: -43px;
$arrow-down2-offset-y: -36px;
$arrow-down2-width: 16px;
$arrow-down2-height: 8px;
$arrow-down2-total-width: 164px;
$arrow-down2-total-height: 149px;
$arrow-down2-image: '../images/sprite.png';
$arrow-down2: (43px, 36px, -43px, -36px, 16px, 8px, 164px, 149px, '../images/sprite.png', 'arrow-down2', );
$ic-arrow-down2-hover-name: 'ic_arrow-down2-hover';
$ic-arrow-down2-hover-x: 151px;
$ic-arrow-down2-hover-y: 22px;
$ic-arrow-down2-hover-offset-x: -151px;
$ic-arrow-down2-hover-offset-y: -22px;
$ic-arrow-down2-hover-width: 8px;
$ic-arrow-down2-hover-height: 5px;
$ic-arrow-down2-hover-total-width: 164px;
$ic-arrow-down2-hover-total-height: 149px;
$ic-arrow-down2-hover-image: '../images/sprite.png';
$ic-arrow-down2-hover: (151px, 22px, -151px, -22px, 8px, 5px, 164px, 149px, '../images/sprite.png', 'ic_arrow-down2-hover', );
$ic-arrow-up2-hover-name: 'ic_arrow_up2-hover';
$ic-arrow-up2-hover-x: 151px;
$ic-arrow-up2-hover-y: 27px;
$ic-arrow-up2-hover-offset-x: -151px;
$ic-arrow-up2-hover-offset-y: -27px;
$ic-arrow-up2-hover-width: 8px;
$ic-arrow-up2-hover-height: 5px;
$ic-arrow-up2-hover-total-width: 164px;
$ic-arrow-up2-hover-total-height: 149px;
$ic-arrow-up2-hover-image: '../images/sprite.png';
$ic-arrow-up2-hover: (151px, 27px, -151px, -27px, 8px, 5px, 164px, 149px, '../images/sprite.png', 'ic_arrow_up2-hover', );
$ic-arrow-up2-name: 'ic_arrow_up2';
$ic-arrow-up2-x: 79px;
$ic-arrow-up2-y: 37px;
$ic-arrow-up2-offset-x: -79px;
$ic-arrow-up2-offset-y: -37px;
$ic-arrow-up2-width: 16px;
$ic-arrow-up2-height: 8px;
$ic-arrow-up2-total-width: 164px;
$ic-arrow-up2-total-height: 149px;
$ic-arrow-up2-image: '../images/sprite.png';
$ic-arrow-up2: (79px, 37px, -79px, -37px, 16px, 8px, 164px, 149px, '../images/sprite.png', 'ic_arrow_up2', );
$ic-book-name: 'ic_book';
$ic-book-x: 68px;
$ic-book-y: 110px;
$ic-book-offset-x: -68px;
$ic-book-offset-y: -110px;
$ic-book-width: 21px;
$ic-book-height: 21px;
$ic-book-total-width: 164px;
$ic-book-total-height: 149px;
$ic-book-image: '../images/sprite.png';
$ic-book: (68px, 110px, -68px, -110px, 21px, 21px, 164px, 149px, '../images/sprite.png', 'ic_book', );
$ic-box-close-name: 'ic_box-close';
$ic-box-close-x: 43px;
$ic-box-close-y: 0px;
$ic-box-close-offset-x: -43px;
$ic-box-close-offset-y: 0px;
$ic-box-close-width: 36px;
$ic-box-close-height: 36px;
$ic-box-close-total-width: 164px;
$ic-box-close-total-height: 149px;
$ic-box-close-image: '../images/sprite.png';
$ic-box-close: (43px, 0px, -43px, 0px, 36px, 36px, 164px, 149px, '../images/sprite.png', 'ic_box-close', );
$ic-doc-name: 'ic_doc';
$ic-doc-x: 0px;
$ic-doc-y: 0px;
$ic-doc-offset-x: 0px;
$ic-doc-offset-y: 0px;
$ic-doc-width: 43px;
$ic-doc-height: 46px;
$ic-doc-total-width: 164px;
$ic-doc-total-height: 149px;
$ic-doc-image: '../images/sprite.png';
$ic-doc: (0px, 0px, 0px, 0px, 43px, 46px, 164px, 149px, '../images/sprite.png', 'ic_doc', );
$ic-drop-menu-is-close-name: 'ic_drop-menu-is-close';
$ic-drop-menu-is-close-x: 119px;
$ic-drop-menu-is-close-y: 18px;
$ic-drop-menu-is-close-offset-x: -119px;
$ic-drop-menu-is-close-offset-y: -18px;
$ic-drop-menu-is-close-width: 24px;
$ic-drop-menu-is-close-height: 24px;
$ic-drop-menu-is-close-total-width: 164px;
$ic-drop-menu-is-close-total-height: 149px;
$ic-drop-menu-is-close-image: '../images/sprite.png';
$ic-drop-menu-is-close: (119px, 18px, -119px, -18px, 24px, 24px, 164px, 149px, '../images/sprite.png', 'ic_drop-menu-is-close', );
$ic-fb-hover-name: 'ic_fb-hover';
$ic-fb-hover-x: 151px;
$ic-fb-hover-y: 0px;
$ic-fb-hover-offset-x: -151px;
$ic-fb-hover-offset-y: 0px;
$ic-fb-hover-width: 13px;
$ic-fb-hover-height: 22px;
$ic-fb-hover-total-width: 164px;
$ic-fb-hover-total-height: 149px;
$ic-fb-hover-image: '../images/sprite.png';
$ic-fb-hover: (151px, 0px, -151px, 0px, 13px, 22px, 164px, 149px, '../images/sprite.png', 'ic_fb-hover', );
$ic-fb-name: 'ic_fb';
$ic-fb-x: 80px;
$ic-fb-y: 46px;
$ic-fb-offset-x: -80px;
$ic-fb-offset-y: -46px;
$ic-fb-width: 13px;
$ic-fb-height: 22px;
$ic-fb-total-width: 164px;
$ic-fb-total-height: 149px;
$ic-fb-image: '../images/sprite.png';
$ic-fb: (80px, 46px, -80px, -46px, 13px, 22px, 164px, 149px, '../images/sprite.png', 'ic_fb', );
$ic-left-arrow-hover-name: 'ic_left-arrow-hover';
$ic-left-arrow-hover-x: 79px;
$ic-left-arrow-hover-y: 0px;
$ic-left-arrow-hover-offset-x: -79px;
$ic-left-arrow-hover-offset-y: 0px;
$ic-left-arrow-hover-width: 20px;
$ic-left-arrow-hover-height: 37px;
$ic-left-arrow-hover-total-width: 164px;
$ic-left-arrow-hover-total-height: 149px;
$ic-left-arrow-hover-image: '../images/sprite.png';
$ic-left-arrow-hover: (79px, 0px, -79px, 0px, 20px, 37px, 164px, 149px, '../images/sprite.png', 'ic_left-arrow-hover', );
$ic-left-arrow-name: 'ic_left-arrow';
$ic-left-arrow-x: 40px;
$ic-left-arrow-y: 46px;
$ic-left-arrow-offset-x: -40px;
$ic-left-arrow-offset-y: -46px;
$ic-left-arrow-width: 20px;
$ic-left-arrow-height: 37px;
$ic-left-arrow-total-width: 164px;
$ic-left-arrow-total-height: 149px;
$ic-left-arrow-image: '../images/sprite.png';
$ic-left-arrow: (40px, 46px, -40px, -46px, 20px, 37px, 164px, 149px, '../images/sprite.png', 'ic_left-arrow', );
$ic-mail-name: 'ic_mail';
$ic-mail-x: 89px;
$ic-mail-y: 110px;
$ic-mail-offset-x: -89px;
$ic-mail-offset-y: -110px;
$ic-mail-width: 21px;
$ic-mail-height: 21px;
$ic-mail-total-width: 164px;
$ic-mail-total-height: 149px;
$ic-mail-image: '../images/sprite.png';
$ic-mail: (89px, 110px, -89px, -110px, 21px, 21px, 164px, 149px, '../images/sprite.png', 'ic_mail', );
$ic-mob-phone-name: 'ic_mob-phone';
$ic-mob-phone-x: 99px;
$ic-mob-phone-y: 58px;
$ic-mob-phone-offset-x: -99px;
$ic-mob-phone-offset-y: -58px;
$ic-mob-phone-width: 14px;
$ic-mob-phone-height: 21px;
$ic-mob-phone-total-width: 164px;
$ic-mob-phone-total-height: 149px;
$ic-mob-phone-image: '../images/sprite.png';
$ic-mob-phone: (99px, 58px, -99px, -58px, 14px, 21px, 164px, 149px, '../images/sprite.png', 'ic_mob-phone', );
$ic-note-hover-name: 'ic_note-hover';
$ic-note-hover-x: 54px;
$ic-note-hover-y: 83px;
$ic-note-hover-offset-x: -54px;
$ic-note-hover-offset-y: -83px;
$ic-note-hover-width: 29px;
$ic-note-hover-height: 21px;
$ic-note-hover-total-width: 164px;
$ic-note-hover-total-height: 149px;
$ic-note-hover-image: '../images/sprite.png';
$ic-note-hover: (54px, 83px, -54px, -83px, 29px, 21px, 164px, 149px, '../images/sprite.png', 'ic_note-hover', );
$ic-note-name: 'ic_note';
$ic-note-x: 83px;
$ic-note-y: 83px;
$ic-note-offset-x: -83px;
$ic-note-offset-y: -83px;
$ic-note-width: 29px;
$ic-note-height: 21px;
$ic-note-total-width: 164px;
$ic-note-total-height: 149px;
$ic-note-image: '../images/sprite.png';
$ic-note: (83px, 83px, -83px, -83px, 29px, 21px, 164px, 149px, '../images/sprite.png', 'ic_note', );
$ic-open-menu-name: 'ic_open_menu';
$ic-open-menu-x: 119px;
$ic-open-menu-y: 84px;
$ic-open-menu-offset-x: -119px;
$ic-open-menu-offset-y: -84px;
$ic-open-menu-width: 24px;
$ic-open-menu-height: 24px;
$ic-open-menu-total-width: 164px;
$ic-open-menu-total-height: 149px;
$ic-open-menu-image: '../images/sprite.png';
$ic-open-menu: (119px, 84px, -119px, -84px, 24px, 24px, 164px, 149px, '../images/sprite.png', 'ic_open_menu', );
$ic-position-name: 'ic_position';
$ic-position-x: 99px;
$ic-position-y: 37px;
$ic-position-offset-x: -99px;
$ic-position-offset-y: -37px;
$ic-position-width: 17px;
$ic-position-height: 21px;
$ic-position-total-width: 164px;
$ic-position-total-height: 149px;
$ic-position-image: '../images/sprite.png';
$ic-position: (99px, 37px, -99px, -37px, 17px, 21px, 164px, 149px, '../images/sprite.png', 'ic_position', );
$ic-printer-name: 'ic_printer';
$ic-printer-x: 46px;
$ic-printer-y: 110px;
$ic-printer-offset-x: -46px;
$ic-printer-offset-y: -110px;
$ic-printer-width: 22px;
$ic-printer-height: 22px;
$ic-printer-total-width: 164px;
$ic-printer-total-height: 149px;
$ic-printer-image: '../images/sprite.png';
$ic-printer: (46px, 110px, -46px, -110px, 22px, 22px, 164px, 149px, '../images/sprite.png', 'ic_printer', );
$ic-right-arrow-hover-name: 'ic_right-arrow-hover';
$ic-right-arrow-hover-x: 0px;
$ic-right-arrow-hover-y: 46px;
$ic-right-arrow-hover-offset-x: 0px;
$ic-right-arrow-hover-offset-y: -46px;
$ic-right-arrow-hover-width: 20px;
$ic-right-arrow-hover-height: 37px;
$ic-right-arrow-hover-total-width: 164px;
$ic-right-arrow-hover-total-height: 149px;
$ic-right-arrow-hover-image: '../images/sprite.png';
$ic-right-arrow-hover: (0px, 46px, 0px, -46px, 20px, 37px, 164px, 149px, '../images/sprite.png', 'ic_right-arrow-hover', );
$ic-right-arrow-name: 'ic_right-arrow';
$ic-right-arrow-x: 20px;
$ic-right-arrow-y: 46px;
$ic-right-arrow-offset-x: -20px;
$ic-right-arrow-offset-y: -46px;
$ic-right-arrow-width: 20px;
$ic-right-arrow-height: 37px;
$ic-right-arrow-total-width: 164px;
$ic-right-arrow-total-height: 149px;
$ic-right-arrow-image: '../images/sprite.png';
$ic-right-arrow: (20px, 46px, -20px, -46px, 20px, 37px, 164px, 149px, '../images/sprite.png', 'ic_right-arrow', );
$ic-search-hover-name: 'ic_search-hover';
$ic-search-hover-x: 27px;
$ic-search-hover-y: 83px;
$ic-search-hover-offset-x: -27px;
$ic-search-hover-offset-y: -83px;
$ic-search-hover-width: 27px;
$ic-search-hover-height: 27px;
$ic-search-hover-total-width: 164px;
$ic-search-hover-total-height: 149px;
$ic-search-hover-image: '../images/sprite.png';
$ic-search-hover: (27px, 83px, -27px, -83px, 27px, 27px, 164px, 149px, '../images/sprite.png', 'ic_search-hover', );
$ic-search-white-name: 'ic_search-white';
$ic-search-white-x: 119px;
$ic-search-white-y: 42px;
$ic-search-white-offset-x: -119px;
$ic-search-white-offset-y: -42px;
$ic-search-white-width: 24px;
$ic-search-white-height: 24px;
$ic-search-white-total-width: 164px;
$ic-search-white-total-height: 149px;
$ic-search-white-image: '../images/sprite.png';
$ic-search-white: (119px, 42px, -119px, -42px, 24px, 24px, 164px, 149px, '../images/sprite.png', 'ic_search-white', );
$ic-search-name: 'ic_search';
$ic-search-x: 0px;
$ic-search-y: 83px;
$ic-search-offset-x: 0px;
$ic-search-offset-y: -83px;
$ic-search-width: 27px;
$ic-search-height: 27px;
$ic-search-total-width: 164px;
$ic-search-total-height: 149px;
$ic-search-image: '../images/sprite.png';
$ic-search: (0px, 83px, 0px, -83px, 27px, 27px, 164px, 149px, '../images/sprite.png', 'ic_search', );
$ic-slider-arrow-left-name: 'ic_slider-arrow-left';
$ic-slider-arrow-left-x: 99px;
$ic-slider-arrow-left-y: 0px;
$ic-slider-arrow-left-offset-x: -99px;
$ic-slider-arrow-left-offset-y: 0px;
$ic-slider-arrow-left-width: 20px;
$ic-slider-arrow-left-height: 37px;
$ic-slider-arrow-left-total-width: 164px;
$ic-slider-arrow-left-total-height: 149px;
$ic-slider-arrow-left-image: '../images/sprite.png';
$ic-slider-arrow-left: (99px, 0px, -99px, 0px, 20px, 37px, 164px, 149px, '../images/sprite.png', 'ic_slider-arrow-left', );
$ic-slider-arrow-rightt-name: 'ic_slider-arrow-rightt';
$ic-slider-arrow-rightt-x: 60px;
$ic-slider-arrow-rightt-y: 46px;
$ic-slider-arrow-rightt-offset-x: -60px;
$ic-slider-arrow-rightt-offset-y: -46px;
$ic-slider-arrow-rightt-width: 20px;
$ic-slider-arrow-rightt-height: 37px;
$ic-slider-arrow-rightt-total-width: 164px;
$ic-slider-arrow-rightt-total-height: 149px;
$ic-slider-arrow-rightt-image: '../images/sprite.png';
$ic-slider-arrow-rightt: (60px, 46px, -60px, -46px, 20px, 37px, 164px, 149px, '../images/sprite.png', 'ic_slider-arrow-rightt', );
$ic-triangle-2-hover-name: 'ic_triangle-2-hover';
$ic-triangle-2-hover-x: 110px;
$ic-triangle-2-hover-y: 110px;
$ic-triangle-2-hover-offset-x: -110px;
$ic-triangle-2-hover-offset-y: -110px;
$ic-triangle-2-hover-width: 14px;
$ic-triangle-2-hover-height: 17px;
$ic-triangle-2-hover-total-width: 164px;
$ic-triangle-2-hover-total-height: 149px;
$ic-triangle-2-hover-image: '../images/sprite.png';
$ic-triangle-2-hover: (110px, 110px, -110px, -110px, 14px, 17px, 164px, 149px, '../images/sprite.png', 'ic_triangle-2-hover', );
$ic-triangle-2-name: 'ic_triangle-2';
$ic-triangle-2-x: 124px;
$ic-triangle-2-y: 110px;
$ic-triangle-2-offset-x: -124px;
$ic-triangle-2-offset-y: -110px;
$ic-triangle-2-width: 14px;
$ic-triangle-2-height: 17px;
$ic-triangle-2-total-width: 164px;
$ic-triangle-2-total-height: 149px;
$ic-triangle-2-image: '../images/sprite.png';
$ic-triangle-2: (124px, 110px, -124px, -110px, 14px, 17px, 164px, 149px, '../images/sprite.png', 'ic_triangle-2', );
$ic-triangle-name: 'ic_triangle';
$ic-triangle-x: 0px;
$ic-triangle-y: 132px;
$ic-triangle-offset-x: 0px;
$ic-triangle-offset-y: -132px;
$ic-triangle-width: 14px;
$ic-triangle-height: 17px;
$ic-triangle-total-width: 164px;
$ic-triangle-total-height: 149px;
$ic-triangle-image: '../images/sprite.png';
$ic-triangle: (0px, 132px, 0px, -132px, 14px, 17px, 164px, 149px, '../images/sprite.png', 'ic_triangle', );
$ic-vk-hover-name: 'ic_vk-hover';
$ic-vk-hover-x: 119px;
$ic-vk-hover-y: 66px;
$ic-vk-hover-offset-x: -119px;
$ic-vk-hover-offset-y: -66px;
$ic-vk-hover-width: 32px;
$ic-vk-hover-height: 18px;
$ic-vk-hover-total-width: 164px;
$ic-vk-hover-total-height: 149px;
$ic-vk-hover-image: '../images/sprite.png';
$ic-vk-hover: (119px, 66px, -119px, -66px, 32px, 18px, 164px, 149px, '../images/sprite.png', 'ic_vk-hover', );
$ic-vk-name: 'ic_vk';
$ic-vk-x: 119px;
$ic-vk-y: 0px;
$ic-vk-offset-x: -119px;
$ic-vk-offset-y: 0px;
$ic-vk-width: 32px;
$ic-vk-height: 18px;
$ic-vk-total-width: 164px;
$ic-vk-total-height: 149px;
$ic-vk-image: '../images/sprite.png';
$ic-vk: (119px, 0px, -119px, 0px, 32px, 18px, 164px, 149px, '../images/sprite.png', 'ic_vk', );
$ic-youtube-hover-name: 'ic_youtube-hover';
$ic-youtube-hover-x: 23px;
$ic-youtube-hover-y: 110px;
$ic-youtube-hover-offset-x: -23px;
$ic-youtube-hover-offset-y: -110px;
$ic-youtube-hover-width: 23px;
$ic-youtube-hover-height: 22px;
$ic-youtube-hover-total-width: 164px;
$ic-youtube-hover-total-height: 149px;
$ic-youtube-hover-image: '../images/sprite.png';
$ic-youtube-hover: (23px, 110px, -23px, -110px, 23px, 22px, 164px, 149px, '../images/sprite.png', 'ic_youtube-hover', );
$ic-youtube-name: 'ic_youtube';
$ic-youtube-x: 0px;
$ic-youtube-y: 110px;
$ic-youtube-offset-x: 0px;
$ic-youtube-offset-y: -110px;
$ic-youtube-width: 23px;
$ic-youtube-height: 22px;
$ic-youtube-total-width: 164px;
$ic-youtube-total-height: 149px;
$ic-youtube-image: '../images/sprite.png';
$ic-youtube: (0px, 110px, 0px, -110px, 23px, 22px, 164px, 149px, '../images/sprite.png', 'ic_youtube', );
$spritesheet-width: 164px;
$spritesheet-height: 149px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-down2, $ic-arrow-down2-hover, $ic-arrow-up2-hover, $ic-arrow-up2, $ic-book, $ic-box-close, $ic-doc, $ic-drop-menu-is-close, $ic-fb-hover, $ic-fb, $ic-left-arrow-hover, $ic-left-arrow, $ic-mail, $ic-mob-phone, $ic-note-hover, $ic-note, $ic-open-menu, $ic-position, $ic-printer, $ic-right-arrow-hover, $ic-right-arrow, $ic-search-hover, $ic-search-white, $ic-search, $ic-slider-arrow-left, $ic-slider-arrow-rightt, $ic-triangle-2-hover, $ic-triangle-2, $ic-triangle, $ic-vk-hover, $ic-vk, $ic-youtube-hover, $ic-youtube, );
$spritesheet: (164px, 149px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
