$arrow-down2-name: 'arrow-down2';
$arrow-down2-x: 158px;
$arrow-down2-y: 80px;
$arrow-down2-offset-x: -158px;
$arrow-down2-offset-y: -80px;
$arrow-down2-width: 8px;
$arrow-down2-height: 5px;
$arrow-down2-total-width: 168px;
$arrow-down2-total-height: 128px;
$arrow-down2-image: '../images/sprite.png';
$arrow-down2: (158px, 80px, -158px, -80px, 8px, 5px, 168px, 128px, '../images/sprite.png', 'arrow-down2', );
$ic-arrow-down2-hover-name: 'ic_arrow-down2-hover';
$ic-arrow-down2-hover-x: 158px;
$ic-arrow-down2-hover-y: 65px;
$ic-arrow-down2-hover-offset-x: -158px;
$ic-arrow-down2-hover-offset-y: -65px;
$ic-arrow-down2-hover-width: 8px;
$ic-arrow-down2-hover-height: 5px;
$ic-arrow-down2-hover-total-width: 168px;
$ic-arrow-down2-hover-total-height: 128px;
$ic-arrow-down2-hover-image: '../images/sprite.png';
$ic-arrow-down2-hover: (158px, 65px, -158px, -65px, 8px, 5px, 168px, 128px, '../images/sprite.png', 'ic_arrow-down2-hover', );
$ic-arrow-up2-hover-name: 'ic_arrow_up2-hover';
$ic-arrow-up2-hover-x: 158px;
$ic-arrow-up2-hover-y: 75px;
$ic-arrow-up2-hover-offset-x: -158px;
$ic-arrow-up2-hover-offset-y: -75px;
$ic-arrow-up2-hover-width: 8px;
$ic-arrow-up2-hover-height: 5px;
$ic-arrow-up2-hover-total-width: 168px;
$ic-arrow-up2-hover-total-height: 128px;
$ic-arrow-up2-hover-image: '../images/sprite.png';
$ic-arrow-up2-hover: (158px, 75px, -158px, -75px, 8px, 5px, 168px, 128px, '../images/sprite.png', 'ic_arrow_up2-hover', );
$ic-arrow-up2-name: 'ic_arrow_up2';
$ic-arrow-up2-x: 158px;
$ic-arrow-up2-y: 70px;
$ic-arrow-up2-offset-x: -158px;
$ic-arrow-up2-offset-y: -70px;
$ic-arrow-up2-width: 8px;
$ic-arrow-up2-height: 5px;
$ic-arrow-up2-total-width: 168px;
$ic-arrow-up2-total-height: 128px;
$ic-arrow-up2-image: '../images/sprite.png';
$ic-arrow-up2: (158px, 70px, -158px, -70px, 8px, 5px, 168px, 128px, '../images/sprite.png', 'ic_arrow_up2', );
$ic-book-name: 'ic_book';
$ic-book-x: 145px;
$ic-book-y: 44px;
$ic-book-offset-x: -145px;
$ic-book-offset-y: -44px;
$ic-book-width: 21px;
$ic-book-height: 21px;
$ic-book-total-width: 168px;
$ic-book-total-height: 128px;
$ic-book-image: '../images/sprite.png';
$ic-book: (145px, 44px, -145px, -44px, 21px, 21px, 168px, 128px, '../images/sprite.png', 'ic_book', );
$ic-box-close-name: 'ic_box-close';
$ic-box-close-x: 0px;
$ic-box-close-y: 0px;
$ic-box-close-offset-x: 0px;
$ic-box-close-offset-y: 0px;
$ic-box-close-width: 36px;
$ic-box-close-height: 36px;
$ic-box-close-total-width: 168px;
$ic-box-close-total-height: 128px;
$ic-box-close-image: '../images/sprite.png';
$ic-box-close: (0px, 0px, 0px, 0px, 36px, 36px, 168px, 128px, '../images/sprite.png', 'ic_box-close', );
$ic-drop-menu-is-close-name: 'ic_drop-menu-is-close';
$ic-drop-menu-is-close-x: 116px;
$ic-drop-menu-is-close-y: 21px;
$ic-drop-menu-is-close-offset-x: -116px;
$ic-drop-menu-is-close-offset-y: -21px;
$ic-drop-menu-is-close-width: 24px;
$ic-drop-menu-is-close-height: 24px;
$ic-drop-menu-is-close-total-width: 168px;
$ic-drop-menu-is-close-total-height: 128px;
$ic-drop-menu-is-close-image: '../images/sprite.png';
$ic-drop-menu-is-close: (116px, 21px, -116px, -21px, 24px, 24px, 168px, 128px, '../images/sprite.png', 'ic_drop-menu-is-close', );
$ic-fb-hover-name: 'ic_fb-hover';
$ic-fb-hover-x: 145px;
$ic-fb-hover-y: 87px;
$ic-fb-hover-offset-x: -145px;
$ic-fb-hover-offset-y: -87px;
$ic-fb-hover-width: 13px;
$ic-fb-hover-height: 22px;
$ic-fb-hover-total-width: 168px;
$ic-fb-hover-total-height: 128px;
$ic-fb-hover-image: '../images/sprite.png';
$ic-fb-hover: (145px, 87px, -145px, -87px, 13px, 22px, 168px, 128px, '../images/sprite.png', 'ic_fb-hover', );
$ic-fb-name: 'ic_fb';
$ic-fb-x: 145px;
$ic-fb-y: 65px;
$ic-fb-offset-x: -145px;
$ic-fb-offset-y: -65px;
$ic-fb-width: 13px;
$ic-fb-height: 22px;
$ic-fb-total-width: 168px;
$ic-fb-total-height: 128px;
$ic-fb-image: '../images/sprite.png';
$ic-fb: (145px, 65px, -145px, -65px, 13px, 22px, 168px, 128px, '../images/sprite.png', 'ic_fb', );
$ic-left-arrow-hover-name: 'ic_left-arrow-hover';
$ic-left-arrow-hover-x: 76px;
$ic-left-arrow-hover-y: 0px;
$ic-left-arrow-hover-offset-x: -76px;
$ic-left-arrow-hover-offset-y: 0px;
$ic-left-arrow-hover-width: 20px;
$ic-left-arrow-hover-height: 37px;
$ic-left-arrow-hover-total-width: 168px;
$ic-left-arrow-hover-total-height: 128px;
$ic-left-arrow-hover-image: '../images/sprite.png';
$ic-left-arrow-hover: (76px, 0px, -76px, 0px, 20px, 37px, 168px, 128px, '../images/sprite.png', 'ic_left-arrow-hover', );
$ic-left-arrow-name: 'ic_left-arrow';
$ic-left-arrow-x: 0px;
$ic-left-arrow-y: 36px;
$ic-left-arrow-offset-x: 0px;
$ic-left-arrow-offset-y: -36px;
$ic-left-arrow-width: 20px;
$ic-left-arrow-height: 37px;
$ic-left-arrow-total-width: 168px;
$ic-left-arrow-total-height: 128px;
$ic-left-arrow-image: '../images/sprite.png';
$ic-left-arrow: (0px, 36px, 0px, -36px, 20px, 37px, 168px, 128px, '../images/sprite.png', 'ic_left-arrow', );
$ic-note-hover-name: 'ic_note-hover';
$ic-note-hover-x: 74px;
$ic-note-hover-y: 73px;
$ic-note-hover-offset-x: -74px;
$ic-note-hover-offset-y: -73px;
$ic-note-hover-width: 29px;
$ic-note-hover-height: 21px;
$ic-note-hover-total-width: 168px;
$ic-note-hover-total-height: 128px;
$ic-note-hover-image: '../images/sprite.png';
$ic-note-hover: (74px, 73px, -74px, -73px, 29px, 21px, 168px, 128px, '../images/sprite.png', 'ic_note-hover', );
$ic-note-name: 'ic_note';
$ic-note-x: 116px;
$ic-note-y: 0px;
$ic-note-offset-x: -116px;
$ic-note-offset-y: 0px;
$ic-note-width: 29px;
$ic-note-height: 21px;
$ic-note-total-width: 168px;
$ic-note-total-height: 128px;
$ic-note-image: '../images/sprite.png';
$ic-note: (116px, 0px, -116px, 0px, 29px, 21px, 168px, 128px, '../images/sprite.png', 'ic_note', );
$ic-open-menu-name: 'ic_open_menu';
$ic-open-menu-x: 116px;
$ic-open-menu-y: 45px;
$ic-open-menu-offset-x: -116px;
$ic-open-menu-offset-y: -45px;
$ic-open-menu-width: 24px;
$ic-open-menu-height: 24px;
$ic-open-menu-total-width: 168px;
$ic-open-menu-total-height: 128px;
$ic-open-menu-image: '../images/sprite.png';
$ic-open-menu: (116px, 45px, -116px, -45px, 24px, 24px, 168px, 128px, '../images/sprite.png', 'ic_open_menu', );
$ic-right-arrow-hover-name: 'ic_right-arrow-hover';
$ic-right-arrow-hover-x: 56px;
$ic-right-arrow-hover-y: 0px;
$ic-right-arrow-hover-offset-x: -56px;
$ic-right-arrow-hover-offset-y: 0px;
$ic-right-arrow-hover-width: 20px;
$ic-right-arrow-hover-height: 37px;
$ic-right-arrow-hover-total-width: 168px;
$ic-right-arrow-hover-total-height: 128px;
$ic-right-arrow-hover-image: '../images/sprite.png';
$ic-right-arrow-hover: (56px, 0px, -56px, 0px, 20px, 37px, 168px, 128px, '../images/sprite.png', 'ic_right-arrow-hover', );
$ic-right-arrow-name: 'ic_right-arrow';
$ic-right-arrow-x: 36px;
$ic-right-arrow-y: 0px;
$ic-right-arrow-offset-x: -36px;
$ic-right-arrow-offset-y: 0px;
$ic-right-arrow-width: 20px;
$ic-right-arrow-height: 37px;
$ic-right-arrow-total-width: 168px;
$ic-right-arrow-total-height: 128px;
$ic-right-arrow-image: '../images/sprite.png';
$ic-right-arrow: (36px, 0px, -36px, 0px, 20px, 37px, 168px, 128px, '../images/sprite.png', 'ic_right-arrow', );
$ic-search-hover-name: 'ic_search-hover';
$ic-search-hover-x: 47px;
$ic-search-hover-y: 73px;
$ic-search-hover-offset-x: -47px;
$ic-search-hover-offset-y: -73px;
$ic-search-hover-width: 27px;
$ic-search-hover-height: 27px;
$ic-search-hover-total-width: 168px;
$ic-search-hover-total-height: 128px;
$ic-search-hover-image: '../images/sprite.png';
$ic-search-hover: (47px, 73px, -47px, -73px, 27px, 27px, 168px, 128px, '../images/sprite.png', 'ic_search-hover', );
$ic-search-white-name: 'ic_search-white';
$ic-search-white-x: 116px;
$ic-search-white-y: 69px;
$ic-search-white-offset-x: -116px;
$ic-search-white-offset-y: -69px;
$ic-search-white-width: 24px;
$ic-search-white-height: 24px;
$ic-search-white-total-width: 168px;
$ic-search-white-total-height: 128px;
$ic-search-white-image: '../images/sprite.png';
$ic-search-white: (116px, 69px, -116px, -69px, 24px, 24px, 168px, 128px, '../images/sprite.png', 'ic_search-white', );
$ic-search-name: 'ic_search';
$ic-search-x: 20px;
$ic-search-y: 73px;
$ic-search-offset-x: -20px;
$ic-search-offset-y: -73px;
$ic-search-width: 27px;
$ic-search-height: 27px;
$ic-search-total-width: 168px;
$ic-search-total-height: 128px;
$ic-search-image: '../images/sprite.png';
$ic-search: (20px, 73px, -20px, -73px, 27px, 27px, 168px, 128px, '../images/sprite.png', 'ic_search', );
$ic-slider-arrow-left-name: 'ic_slider-arrow-left';
$ic-slider-arrow-left-x: 0px;
$ic-slider-arrow-left-y: 73px;
$ic-slider-arrow-left-offset-x: 0px;
$ic-slider-arrow-left-offset-y: -73px;
$ic-slider-arrow-left-width: 20px;
$ic-slider-arrow-left-height: 37px;
$ic-slider-arrow-left-total-width: 168px;
$ic-slider-arrow-left-total-height: 128px;
$ic-slider-arrow-left-image: '../images/sprite.png';
$ic-slider-arrow-left: (0px, 73px, 0px, -73px, 20px, 37px, 168px, 128px, '../images/sprite.png', 'ic_slider-arrow-left', );
$ic-slider-arrow-rightt-name: 'ic_slider-arrow-rightt';
$ic-slider-arrow-rightt-x: 96px;
$ic-slider-arrow-rightt-y: 0px;
$ic-slider-arrow-rightt-offset-x: -96px;
$ic-slider-arrow-rightt-offset-y: 0px;
$ic-slider-arrow-rightt-width: 20px;
$ic-slider-arrow-rightt-height: 37px;
$ic-slider-arrow-rightt-total-width: 168px;
$ic-slider-arrow-rightt-total-height: 128px;
$ic-slider-arrow-rightt-image: '../images/sprite.png';
$ic-slider-arrow-rightt: (96px, 0px, -96px, 0px, 20px, 37px, 168px, 128px, '../images/sprite.png', 'ic_slider-arrow-rightt', );
$ic-triangle-2-hover-name: 'ic_triangle-2-hover';
$ic-triangle-2-hover-x: 145px;
$ic-triangle-2-hover-y: 109px;
$ic-triangle-2-hover-offset-x: -145px;
$ic-triangle-2-hover-offset-y: -109px;
$ic-triangle-2-hover-width: 14px;
$ic-triangle-2-hover-height: 17px;
$ic-triangle-2-hover-total-width: 168px;
$ic-triangle-2-hover-total-height: 128px;
$ic-triangle-2-hover-image: '../images/sprite.png';
$ic-triangle-2-hover: (145px, 109px, -145px, -109px, 14px, 17px, 168px, 128px, '../images/sprite.png', 'ic_triangle-2-hover', );
$ic-triangle-2-name: 'ic_triangle-2';
$ic-triangle-2-x: 116px;
$ic-triangle-2-y: 93px;
$ic-triangle-2-offset-x: -116px;
$ic-triangle-2-offset-y: -93px;
$ic-triangle-2-width: 14px;
$ic-triangle-2-height: 17px;
$ic-triangle-2-total-width: 168px;
$ic-triangle-2-total-height: 128px;
$ic-triangle-2-image: '../images/sprite.png';
$ic-triangle-2: (116px, 93px, -116px, -93px, 14px, 17px, 168px, 128px, '../images/sprite.png', 'ic_triangle-2', );
$ic-triangle-name: 'ic_triangle';
$ic-triangle-x: 130px;
$ic-triangle-y: 93px;
$ic-triangle-offset-x: -130px;
$ic-triangle-offset-y: -93px;
$ic-triangle-width: 14px;
$ic-triangle-height: 17px;
$ic-triangle-total-width: 168px;
$ic-triangle-total-height: 128px;
$ic-triangle-image: '../images/sprite.png';
$ic-triangle: (130px, 93px, -130px, -93px, 14px, 17px, 168px, 128px, '../images/sprite.png', 'ic_triangle', );
$ic-vk-hover-name: 'ic_vk-hover';
$ic-vk-hover-x: 32px;
$ic-vk-hover-y: 110px;
$ic-vk-hover-offset-x: -32px;
$ic-vk-hover-offset-y: -110px;
$ic-vk-hover-width: 32px;
$ic-vk-hover-height: 18px;
$ic-vk-hover-total-width: 168px;
$ic-vk-hover-total-height: 128px;
$ic-vk-hover-image: '../images/sprite.png';
$ic-vk-hover: (32px, 110px, -32px, -110px, 32px, 18px, 168px, 128px, '../images/sprite.png', 'ic_vk-hover', );
$ic-vk-name: 'ic_vk';
$ic-vk-x: 0px;
$ic-vk-y: 110px;
$ic-vk-offset-x: 0px;
$ic-vk-offset-y: -110px;
$ic-vk-width: 32px;
$ic-vk-height: 18px;
$ic-vk-total-width: 168px;
$ic-vk-total-height: 128px;
$ic-vk-image: '../images/sprite.png';
$ic-vk: (0px, 110px, 0px, -110px, 32px, 18px, 168px, 128px, '../images/sprite.png', 'ic_vk', );
$ic-youtube-hover-name: 'ic_youtube-hover';
$ic-youtube-hover-x: 145px;
$ic-youtube-hover-y: 0px;
$ic-youtube-hover-offset-x: -145px;
$ic-youtube-hover-offset-y: 0px;
$ic-youtube-hover-width: 23px;
$ic-youtube-hover-height: 22px;
$ic-youtube-hover-total-width: 168px;
$ic-youtube-hover-total-height: 128px;
$ic-youtube-hover-image: '../images/sprite.png';
$ic-youtube-hover: (145px, 0px, -145px, 0px, 23px, 22px, 168px, 128px, '../images/sprite.png', 'ic_youtube-hover', );
$ic-youtube-name: 'ic_youtube';
$ic-youtube-x: 145px;
$ic-youtube-y: 22px;
$ic-youtube-offset-x: -145px;
$ic-youtube-offset-y: -22px;
$ic-youtube-width: 23px;
$ic-youtube-height: 22px;
$ic-youtube-total-width: 168px;
$ic-youtube-total-height: 128px;
$ic-youtube-image: '../images/sprite.png';
$ic-youtube: (145px, 22px, -145px, -22px, 23px, 22px, 168px, 128px, '../images/sprite.png', 'ic_youtube', );
$spritesheet-width: 168px;
$spritesheet-height: 128px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($arrow-down2, $ic-arrow-down2-hover, $ic-arrow-up2-hover, $ic-arrow-up2, $ic-book, $ic-box-close, $ic-drop-menu-is-close, $ic-fb-hover, $ic-fb, $ic-left-arrow-hover, $ic-left-arrow, $ic-note-hover, $ic-note, $ic-open-menu, $ic-right-arrow-hover, $ic-right-arrow, $ic-search-hover, $ic-search-white, $ic-search, $ic-slider-arrow-left, $ic-slider-arrow-rightt, $ic-triangle-2-hover, $ic-triangle-2, $ic-triangle, $ic-vk-hover, $ic-vk, $ic-youtube-hover, $ic-youtube, );
$spritesheet: (168px, 128px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
