$ic-book-name: 'ic_book';
$ic-book-x: 107px;
$ic-book-y: 62px;
$ic-book-offset-x: -107px;
$ic-book-offset-y: -62px;
$ic-book-width: 21px;
$ic-book-height: 21px;
$ic-book-total-width: 139px;
$ic-book-total-height: 95px;
$ic-book-image: '../images/sprite.png';
$ic-book: (107px, 62px, -107px, -62px, 21px, 21px, 139px, 95px, '../images/sprite.png', 'ic_book', );
$ic-fb-hover-name: 'ic_fb-hover';
$ic-fb-hover-x: 80px;
$ic-fb-hover-y: 27px;
$ic-fb-hover-offset-x: -80px;
$ic-fb-hover-offset-y: -27px;
$ic-fb-hover-width: 13px;
$ic-fb-hover-height: 22px;
$ic-fb-hover-total-width: 139px;
$ic-fb-hover-total-height: 95px;
$ic-fb-hover-image: '../images/sprite.png';
$ic-fb-hover: (80px, 27px, -80px, -27px, 13px, 22px, 139px, 95px, '../images/sprite.png', 'ic_fb-hover', );
$ic-fb-name: 'ic_fb';
$ic-fb-x: 93px;
$ic-fb-y: 27px;
$ic-fb-offset-x: -93px;
$ic-fb-offset-y: -27px;
$ic-fb-width: 13px;
$ic-fb-height: 22px;
$ic-fb-total-width: 139px;
$ic-fb-total-height: 95px;
$ic-fb-image: '../images/sprite.png';
$ic-fb: (93px, 27px, -93px, -27px, 13px, 22px, 139px, 95px, '../images/sprite.png', 'ic_fb', );
$ic-left-arrow-hover-name: 'ic_left-arrow-hover';
$ic-left-arrow-hover-x: 0px;
$ic-left-arrow-hover-y: 37px;
$ic-left-arrow-hover-offset-x: 0px;
$ic-left-arrow-hover-offset-y: -37px;
$ic-left-arrow-hover-width: 20px;
$ic-left-arrow-hover-height: 37px;
$ic-left-arrow-hover-total-width: 139px;
$ic-left-arrow-hover-total-height: 95px;
$ic-left-arrow-hover-image: '../images/sprite.png';
$ic-left-arrow-hover: (0px, 37px, 0px, -37px, 20px, 37px, 139px, 95px, '../images/sprite.png', 'ic_left-arrow-hover', );
$ic-left-arrow-name: 'ic_left-arrow';
$ic-left-arrow-x: 40px;
$ic-left-arrow-y: 0px;
$ic-left-arrow-offset-x: -40px;
$ic-left-arrow-offset-y: 0px;
$ic-left-arrow-width: 20px;
$ic-left-arrow-height: 37px;
$ic-left-arrow-total-width: 139px;
$ic-left-arrow-total-height: 95px;
$ic-left-arrow-image: '../images/sprite.png';
$ic-left-arrow: (40px, 0px, -40px, 0px, 20px, 37px, 139px, 95px, '../images/sprite.png', 'ic_left-arrow', );
$ic-note-hover-name: 'ic_note-hover';
$ic-note-hover-x: 29px;
$ic-note-hover-y: 74px;
$ic-note-hover-offset-x: -29px;
$ic-note-hover-offset-y: -74px;
$ic-note-hover-width: 29px;
$ic-note-hover-height: 21px;
$ic-note-hover-total-width: 139px;
$ic-note-hover-total-height: 95px;
$ic-note-hover-image: '../images/sprite.png';
$ic-note-hover: (29px, 74px, -29px, -74px, 29px, 21px, 139px, 95px, '../images/sprite.png', 'ic_note-hover', );
$ic-note-name: 'ic_note';
$ic-note-x: 0px;
$ic-note-y: 74px;
$ic-note-offset-x: 0px;
$ic-note-offset-y: -74px;
$ic-note-width: 29px;
$ic-note-height: 21px;
$ic-note-total-width: 139px;
$ic-note-total-height: 95px;
$ic-note-image: '../images/sprite.png';
$ic-note: (0px, 74px, 0px, -74px, 29px, 21px, 139px, 95px, '../images/sprite.png', 'ic_note', );
$ic-right-arrow-hover-name: 'ic_right-arrow-hover';
$ic-right-arrow-hover-x: 20px;
$ic-right-arrow-hover-y: 37px;
$ic-right-arrow-hover-offset-x: -20px;
$ic-right-arrow-hover-offset-y: -37px;
$ic-right-arrow-hover-width: 20px;
$ic-right-arrow-hover-height: 37px;
$ic-right-arrow-hover-total-width: 139px;
$ic-right-arrow-hover-total-height: 95px;
$ic-right-arrow-hover-image: '../images/sprite.png';
$ic-right-arrow-hover: (20px, 37px, -20px, -37px, 20px, 37px, 139px, 95px, '../images/sprite.png', 'ic_right-arrow-hover', );
$ic-right-arrow-name: 'ic_right-arrow';
$ic-right-arrow-x: 0px;
$ic-right-arrow-y: 0px;
$ic-right-arrow-offset-x: 0px;
$ic-right-arrow-offset-y: 0px;
$ic-right-arrow-width: 20px;
$ic-right-arrow-height: 37px;
$ic-right-arrow-total-width: 139px;
$ic-right-arrow-total-height: 95px;
$ic-right-arrow-image: '../images/sprite.png';
$ic-right-arrow: (0px, 0px, 0px, 0px, 20px, 37px, 139px, 95px, '../images/sprite.png', 'ic_right-arrow', );
$ic-search-hover-name: 'ic_search-hover';
$ic-search-hover-x: 80px;
$ic-search-hover-y: 0px;
$ic-search-hover-offset-x: -80px;
$ic-search-hover-offset-y: 0px;
$ic-search-hover-width: 27px;
$ic-search-hover-height: 27px;
$ic-search-hover-total-width: 139px;
$ic-search-hover-total-height: 95px;
$ic-search-hover-image: '../images/sprite.png';
$ic-search-hover: (80px, 0px, -80px, 0px, 27px, 27px, 139px, 95px, '../images/sprite.png', 'ic_search-hover', );
$ic-search-white-name: 'ic_search-white';
$ic-search-white-x: 80px;
$ic-search-white-y: 49px;
$ic-search-white-offset-x: -80px;
$ic-search-white-offset-y: -49px;
$ic-search-white-width: 16px;
$ic-search-white-height: 16px;
$ic-search-white-total-width: 139px;
$ic-search-white-total-height: 95px;
$ic-search-white-image: '../images/sprite.png';
$ic-search-white: (80px, 49px, -80px, -49px, 16px, 16px, 139px, 95px, '../images/sprite.png', 'ic_search-white', );
$ic-search-name: 'ic_search';
$ic-search-x: 40px;
$ic-search-y: 37px;
$ic-search-offset-x: -40px;
$ic-search-offset-y: -37px;
$ic-search-width: 27px;
$ic-search-height: 27px;
$ic-search-total-width: 139px;
$ic-search-total-height: 95px;
$ic-search-image: '../images/sprite.png';
$ic-search: (40px, 37px, -40px, -37px, 27px, 27px, 139px, 95px, '../images/sprite.png', 'ic_search', );
$ic-slider-arrow-left-name: 'ic_slider-arrow-left';
$ic-slider-arrow-left-x: 60px;
$ic-slider-arrow-left-y: 0px;
$ic-slider-arrow-left-offset-x: -60px;
$ic-slider-arrow-left-offset-y: 0px;
$ic-slider-arrow-left-width: 20px;
$ic-slider-arrow-left-height: 37px;
$ic-slider-arrow-left-total-width: 139px;
$ic-slider-arrow-left-total-height: 95px;
$ic-slider-arrow-left-image: '../images/sprite.png';
$ic-slider-arrow-left: (60px, 0px, -60px, 0px, 20px, 37px, 139px, 95px, '../images/sprite.png', 'ic_slider-arrow-left', );
$ic-slider-arrow-rightt-name: 'ic_slider-arrow-rightt';
$ic-slider-arrow-rightt-x: 20px;
$ic-slider-arrow-rightt-y: 0px;
$ic-slider-arrow-rightt-offset-x: -20px;
$ic-slider-arrow-rightt-offset-y: 0px;
$ic-slider-arrow-rightt-width: 20px;
$ic-slider-arrow-rightt-height: 37px;
$ic-slider-arrow-rightt-total-width: 139px;
$ic-slider-arrow-rightt-total-height: 95px;
$ic-slider-arrow-rightt-image: '../images/sprite.png';
$ic-slider-arrow-rightt: (20px, 0px, -20px, 0px, 20px, 37px, 139px, 95px, '../images/sprite.png', 'ic_slider-arrow-rightt', );
$ic-triangle-name: 'ic_triangle';
$ic-triangle-x: 90px;
$ic-triangle-y: 74px;
$ic-triangle-offset-x: -90px;
$ic-triangle-offset-y: -74px;
$ic-triangle-width: 14px;
$ic-triangle-height: 17px;
$ic-triangle-total-width: 139px;
$ic-triangle-total-height: 95px;
$ic-triangle-image: '../images/sprite.png';
$ic-triangle: (90px, 74px, -90px, -74px, 14px, 17px, 139px, 95px, '../images/sprite.png', 'ic_triangle', );
$ic-vk-hover-name: 'ic_vk-hover';
$ic-vk-hover-x: 107px;
$ic-vk-hover-y: 0px;
$ic-vk-hover-offset-x: -107px;
$ic-vk-hover-offset-y: 0px;
$ic-vk-hover-width: 32px;
$ic-vk-hover-height: 18px;
$ic-vk-hover-total-width: 139px;
$ic-vk-hover-total-height: 95px;
$ic-vk-hover-image: '../images/sprite.png';
$ic-vk-hover: (107px, 0px, -107px, 0px, 32px, 18px, 139px, 95px, '../images/sprite.png', 'ic_vk-hover', );
$ic-vk-name: 'ic_vk';
$ic-vk-x: 58px;
$ic-vk-y: 74px;
$ic-vk-offset-x: -58px;
$ic-vk-offset-y: -74px;
$ic-vk-width: 32px;
$ic-vk-height: 18px;
$ic-vk-total-width: 139px;
$ic-vk-total-height: 95px;
$ic-vk-image: '../images/sprite.png';
$ic-vk: (58px, 74px, -58px, -74px, 32px, 18px, 139px, 95px, '../images/sprite.png', 'ic_vk', );
$ic-youtube-hover-name: 'ic_youtube-hover';
$ic-youtube-hover-x: 107px;
$ic-youtube-hover-y: 18px;
$ic-youtube-hover-offset-x: -107px;
$ic-youtube-hover-offset-y: -18px;
$ic-youtube-hover-width: 23px;
$ic-youtube-hover-height: 22px;
$ic-youtube-hover-total-width: 139px;
$ic-youtube-hover-total-height: 95px;
$ic-youtube-hover-image: '../images/sprite.png';
$ic-youtube-hover: (107px, 18px, -107px, -18px, 23px, 22px, 139px, 95px, '../images/sprite.png', 'ic_youtube-hover', );
$ic-youtube-name: 'ic_youtube';
$ic-youtube-x: 107px;
$ic-youtube-y: 40px;
$ic-youtube-offset-x: -107px;
$ic-youtube-offset-y: -40px;
$ic-youtube-width: 23px;
$ic-youtube-height: 22px;
$ic-youtube-total-width: 139px;
$ic-youtube-total-height: 95px;
$ic-youtube-image: '../images/sprite.png';
$ic-youtube: (107px, 40px, -107px, -40px, 23px, 22px, 139px, 95px, '../images/sprite.png', 'ic_youtube', );
$spritesheet-width: 139px;
$spritesheet-height: 95px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($ic-book, $ic-fb-hover, $ic-fb, $ic-left-arrow-hover, $ic-left-arrow, $ic-note-hover, $ic-note, $ic-right-arrow-hover, $ic-right-arrow, $ic-search-hover, $ic-search-white, $ic-search, $ic-slider-arrow-left, $ic-slider-arrow-rightt, $ic-triangle, $ic-vk-hover, $ic-vk, $ic-youtube-hover, $ic-youtube, );
$spritesheet: (139px, 95px, '../images/sprite.png', $spritesheet-sprites, );

@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
