//container
$max-width: 1000px;
$min-width: 320px;
$container-margin:16px;

//fonts
$opensans: 'Open Sans';
$rubik: 'Rubik';
$base-font-size: 15px;
$base-font-family: $opensans;
$base-line-height: 1.5em;

//colors
$link-color: #000;
$link-hover-color: #007cc2;

//display sizing
$medium:980px;
$small: 640px;
$ex-small: 480px;

$path-to-img:'/images';
$font-path:'/fonts';