<div class="about">

  <div class="text">
    <h2> СОВЕТ МУНИЦИПАЛЬНЫХ ОБРАЗОВАНИЙ КРАСНОДАРСКОГО КРАЯ</h2>
    <p>Ассоциация «Совет муниципальных образований Краснодарского края» (далее - Совет) является некоммерческой организацией, созданной муниципальными образованиями Краснодарского края в целях обеспечения защиты прав муниципальных образований, являющихся членами Совета, и представления их общих интересов, а также обеспечения координации деятельности членов Совета по развитию правовой, организационной, финансово-экономической основ местного самоуправления в Краснодарском крае.</p>

    <p>Полное официальное наименование - Ассоциация «Совет муниципальных образований Краснодарского края», сокращенное наименование Совета - СМОКК.</p>

    <p>Совет создан в соответствии с учредительным договором как некоммерческая организация, учрежденная муниципальными образованиями Краснодарского края. Ассоциация «Совет муниципальных образований Краснодарского края» (далее - Совет) является некоммерческой организацией, созданной муниципальными образованиями Краснодарского края в целях обеспечения защиты прав муниципальных образований, являющихся членами Совета, и представления их общих интересов, а также .</p>
  </div>
  <div class="person-photo">
    <img src="./images/person-photo.png" alt="Председатель ассоциации">
    <div class="position">
      Председатель ассоциации
    </div>
    <div class="name">
      <b>Фамилия</b>
      <br>Имя отчество
    </div>
  </div>
</div>