<div class="city-map">
  <h2>КАРТА МУНИЦИПАЛЬНЫХ ОБРАЗОВАНИЙ КРАСНОДАРСКОГО КРАЯ </h2>
  <div class="container">
    <div class="map">
      <div id="map"></div>
    </div>
    <div class="city-list">
      <ul>
        <li><span class="head">Города</span></li>
        <li>
          <a href="" id="Krasnodar" title="Краснодар">Краснодар</a>
        </li>
        <li>
          <a href="" id="Anapa" title="Анапа">Анапа</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Армавир">Армавир</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Геленджик">Геленджик</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Горячий">Горячий</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Ключ">Ключ</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Новороссийск">Новороссийск</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Сочи">Сочи</a>
        </li>
      </ul>
      <ul>
        <li><span class="head">Районы</span></li>
        <li>
          <a href="" id="Kuchevskiy" title="Абинский район">Абинский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Апшеронский район">Апшеронский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title=" Белоглинский район">Белоглинский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Белореченский район">Белореченский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Брюховетский район">Брюховетский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Выселковский район">Выселковский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Гулькевичский район">Гулькевичский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Динской район">Динской район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Ейский район">Ейский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Кавказский район">Кавказский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Калининский район">Калининский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Каневской район">Каневской район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Кореновский район">Кореновский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Красноармейский район">Красноармейский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Крыловской район">Крыловской район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Крымский район">Крымский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Курганинский район">Курганинский район</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="" id="Krasnodar" title="Кущевский район">Кущевский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Лабинский район">Лабинский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Ленинградский район">Ленинградский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Мостовский район">Мостовский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Новокубанский район">Новокубанский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Отрадненский район">Отрадненский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Павловский район"> Павловский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Приморско-Ахтарский район">Приморско-Ахтарский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Северский район">Северский район</a>
        </li>

        <li>
          <a href="" id="Krasnodar" title=" Славянский район">Славянский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Староминский район">Староминский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Тбилисский район">Тбилисский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Темрюкский район">Темрюкский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Тимашевский район">Тимашевский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Тихорецкий район">Тихорецкий район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Туапсинский район">Туапсинский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Успенский район">Успенский район/a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Усть-Лабинский район">Усть-Лабинский район</a>
        </li>
        <li>
          <a href="" id="Krasnodar" title="Щербиновский район">Щербиновский район</a>
        </li>
      </ul>
    </div>
  </div>
</div>