<div class="city-map">
  <h2>КАРТА МУНИЦИПАЛЬНЫХ ОБРАЗОВАНИЙ КРАСНОДАРСКОГО КРАЯ </h2>
  <div class="container">
    <div class="map">
      <div id="map"></div>
    </div>
      <script src="./libs/raphael/js/raphael.js"></script>
    <div class="city-list">
      <ul>
        <li><span class="head">Города</span></li>
        <li>
          <a href="" id="Krasnodar" title="Краснодар">Краснодар</a>
        </li>
        <li>
          <a href="" id="Anapa" title="Анапа">Анапа</a>
        </li>
        <li>
          <a href="" id="Armovir" title="Армавир">Армавир</a>
        </li>
        <li>
          <a href="" id="Gelendzhik" title="Геленджик">Геленджик</a>
        </li>
        <li>
          <a href="" id="Goryachiy_kluch" title="Горячий">Горячий ключ</a>
        </li>
        <li>
          <a href="" id="Novorossiysk" title="Новороссийск">Новороссийск</a>
        </li>
        <li>
          <a href="" id="Sochi" title="Сочи">Сочи</a>
        </li>
      </ul>
      <ul>
        <li><span class="head">Районы</span></li>
        <li>
          <a href="" id="Abinsky" title="Абинский район">Абинский район</a>
        </li>
        <li>
          <a href="" id="Absheronskiy" title="Апшеронский район">Апшеронский район</a>
        </li>
        <li>
          <a href="" id="Beloglinskiy" title=" Белоглинский район">Белоглинский район</a>
        </li>
        <li>
          <a href="" id="Belorechensky" title="Белореченский район">Белореченский район</a>
        </li>
        <li>
          <a href="" id="Bryukhovetsky" title="Брюховетский район">Брюховетский район</a>
        </li>
        <li>
          <a href="" id="Vyselkovsky" title="Выселковский район">Выселковский район</a>
        </li>
        <li>
          <a href="" id="Gulkevichsky" title="Гулькевичский район">Гулькевичский район</a>
        </li>
        <li>
          <a href="" id="Dinskoy" title="Динской район">Динской район</a>
        </li>
        <li>
          <a href="" id="Yeiskiy" title="Ейский район">Ейский район</a>
        </li>
        <li>
          <a href="" id="Kavkazskiy" title="Кавказский район">Кавказский район</a>
        </li>
        <li>
          <a href="" id="Kalininskiy" title="Калининский район">Калининский район</a>
        </li>
        <li>
          <a href="" id="Kanevskoy" title="Каневской район">Каневской район</a>
        </li>
        <li>
          <a href="" id="Korenovskii" title="Кореновский район">Кореновский район</a>
        </li>
        <li>
          <a href="" id="Krasnoarmeyskiy" title="Красноармейский район">Красноармейский район</a>
        </li>
        <li>
          <a href="" id="Krylovskiy" title="Крыловской район">Крыловской район</a>
        </li>
        <li>
          <a href="" id="Krymskiy" title="Крымский район">Крымский район</a>
        </li>
        <li>
          <a href="" id="Kurganinsky" title="Курганинский район">Курганинский район</a>
        </li>
        <li>
          <a href="" id="Kuchevskiy" title="Кущевский район">Кущевский район</a>
        </li>
        <li>
          <a href="" id="Labinsky" title="Лабинский район">Лабинский район</a>
        </li>
        <li>
          <a href="" id="Leningradskiy" title="Ленинградский район">Ленинградский район</a>
        </li>
        <li>
          <a href="" id="Mostovskoi" title="Мостовский район">Мостовский район</a>
        </li>
        <li>
          <a href="" id="Novokubansky" title="Новокубанский район">Новокубанский район</a>
        </li>
        <li>
          <a href="" id="Otradnensky" title="Отрадненский район">Отрадненский район</a>
        </li>
        <li>
          <a href="" id="Pavlovskiy" title="Павловский район">Павловский район</a>
        </li>
        <li>
          <a href="" id="Primorsko-Akhtarskiy" title="Приморско-Ахтарский район">Приморско-Ахтарский район</a>
        </li>
        <li>
          <a href="" id="Seversky" title="Северский район">Северский район</a>
        </li>

        <li>
          <a href="" id="Slavyanskiy" title=" Славянский район">Славянский район</a>
        </li>
        <li>
          <a href="" id="Starominsky" title="Староминский район">Староминский район</a>
        </li>
        <li>
          <a href="" id="Tbiliskiy" title="Тбилисский район">Тбилисский район</a>
        </li>
        <li>
          <a href="" id="Temryukskiy" title="Темрюкский район">Темрюкский район</a>
        </li>
        <li>
          <a href="" id="Timashevsky" title="Тимашевский район">Тимашевский район</a>
        </li>
        <li>
          <a href="" id="Tikhoretsky" title="Тихорецкий район">Тихорецкий район</a>
        </li>
        <li>
          <a href="" id="Tuapsinskiy" title="Туапсинский район">Туапсинский район</a>
        </li>
        <li>
          <a href="" id="Uspenskiy" title="Успенский район">Успенский район</a>
        </li>
        <li>
          <a href="" id="Ust-Labinskiy" title="Усть-Лабинский район">Усть-Лабинский район</a>
        </li>
        <li>
          <a href="" id="Shcherbinovsky" title="Щербиновский район">Щербиновский район</a>
        </li>
      </ul>
    </div>
    <div class="mobily-city-list">
      <div class="city-block">
        <label for="city">Города</label>
        <select name="city" id="city">
          <option value="Krasnodar">Краснодар</option>
          <option value="Krasnodar">Краснодар</option>
          <option value="Krasnodar">Краснодар</option>
          <option value="Krasnodar">Краснодар</option>
          <option value="Krasnodar">Краснодар</option>
          <option value="Krasnodar">Краснодар</option>
        </select>
      </div>
       <div class="city-block">
        <label for="">Районы</label>
        <select name="raions" id="raions">
          <option value="Abinskiy">Абинский район</option>
          <option value="Abinskiy">Абинский район</option>
          <option value="Abinskiy">Абинский район</option>
          <option value="Abinskiy">Абинский район</option>
          <option value="Abinskiy">Абинский район</option>
          <option value="Abinskiy">Абинский район</option>
        </select>
      </div>
    </div>
  </div>
</div>
