<div class="gallery">
  <h2 class="text-center">ФОТОРЕПОРТАЖИ С МЕРОПРИЯТИЙ</h2>
  <div class="gallery-list">
    <!--foreach $arResult-->
    <div class="item">
      <img src="./images/mounts.jpg" alt="">
    </div>
    <div class="item">
      <img src="./images/mounts.jpg" alt="">
    </div>
    <div class="item">
      <img src="./images/mounts.jpg" alt="">
    </div>
    <div class="item">
      <img src="./images/mounts.jpg" alt="">
    </div>
    <div class="item">
      <img src="./images/mounts.jpg" alt="">
    </div>
    <div class="item">
      <img src="./images/mounts.jpg" alt="">
    </div>
    <div class="item">
      <img src="./images/mounts.jpg" alt="">
    </div>
    <div class="item">
      <img src="./images/mounts.jpg" alt="">
    </div>
    <div class="item">
      <img src="./images/mounts.jpg" alt="">
    </div>
    <div class="item">
      <img src="./images/mounts.jpg" alt="">
    </div>
    <div class="item">
      <img src="./images/mounts.jpg" alt="">
    </div>
    <div class="item">
      <img src="./images/mounts.jpg" alt="">
    </div>
    <div class="item">
      <img src="./images/mounts.jpg" alt="">
    </div>
    <div class="item">
      <img src="./images/mounts.jpg" alt="">
    </div>
    <div class="item">
      <img src="./images/mounts.jpg" alt="">
    </div>
    <!--endforeach-->
  </div>
  <div class="row text-center">
    <a class="all-news-link" href="#" title="Все новости из муниципальных образований">
      <i class="ic_book"></i>
      <span>Все фоторепортажи</span>
    </a>
  </div>
</div>