<div class="link-list">
  <h2 class="text-center">ПОЛЕЗНЫЕ ССЫЛКИ</h2>
  <div id="link-slider">
    <!--foreach arResult-->
    <a class="item" href="#" title="#">
      <div class="table">
        <div class="table-cell">
          <img src="./images/gerb-2.png" alt="">
        </div>
        <div class="table-cell">
          <span>Федеральные органы</span>
        </div>
      </div>
    </a>

    <a class="item" href="#" title="#">
      <div class="table">
        <div class="table-cell">
          <img src="./images/gerb-2.png" alt="">
        </div>
        <div class="table-cell">
          <span>Федеральные органы</span>
        </div>
      </div>
    </a>

    <a class="item" href="#" title="#">
      <div class="table">
        <div class="table-cell">
          <img src="./images/gerb-2.png" alt="">
        </div>
        <div class="table-cell">
          <span>Федеральные органы</span>
        </div>
      </div>
    </a>
    
    <a class="item" href="#" title="#">
      <div class="table">
        <div class="table-cell">
          <img src="./images/gerb-2.png" alt="">
        </div>
        <div class="table-cell">
          <span>Федеральные органы</span>
        </div>
      </div>
    </a>
    
    <a class="item" href="#" title="#">
      <div class="table">
        <div class="table-cell">
          <img src="./images/gerb-2.png" alt="">
        </div>
        <div class="table-cell">
          <span>Федеральные органы</span>
        </div>
      </div>
    </a>
    
    <a class="item" href="#" title="#">
      <div class="table">
        <div class="table-cell">
          <img src="./images/gerb-2.png" alt="">
        </div>
        <div class="table-cell">
          <span>Федеральные органы</span>
        </div>
      </div>
    </a>
    <!--endforeach-->
  </div>
</div>