<div class="magazins">
  <h2 class="text-center">ЖУРНАЛ «МЕСТНОЕ САМОУПРАВЛЕНИЕ КУБАНИ»</h2>
  <div class="magazin-list">
    <!--foreach $arResult-->
    <a class="item" href="" title="#" style="background-image:url(./images/magazin.png)">
      <span class="item-wrapper table">
        <span class="table-cell">
          <span class="name">Выпуск №11</span>
      </span>
      </span>
    </a>
    <a class="item" href="" title="#" style="background-image:url(./images/magazin.png)">
      <span class="item-wrapper table">
        <span class="table-cell">
          <span class="name">Выпуск №11</span>
      </span>
      </span>
    </a>
    <a class="item" href="" title="#" style="background-image:url(./images/magazin.png)">
      <span class="item-wrapper table">
        <span class="table-cell">
          <span class="name">Выпуск №11</span>
      </span>
      </span>
    </a>
    <a class="item" href="" title="#" style="background-image:url(./images/magazin.png)">
      <span class="item-wrapper table">
        <span class="table-cell">
          <span class="name">Выпуск №11</span>
      </span>
      </span>
    </a>
    <a class="item" href="" title="#" style="background-image:url(./images/magazin.png)">
      <span class="item-wrapper table">
        <span class="table-cell">
          <span class="name">Выпуск №11</span>
      </span>
      </span>
    </a>
    <a class="item" href="" title="#" style="background-image:url(./images/magazin.png)">
      <span class="item-wrapper table">
        <span class="table-cell">
          <span class="name">Выпуск №11</span>
      </span>
      </span>
    </a>
    <!--endforeach-->
  </div>
  <div class="row text-center">
    <a class="all-news-link" href="#" title="Все новости из муниципальных образований">
      <i class="ic_book"></i>
      <span>Все выпуски журнала</span>
    </a>
  </div>
</div>