<div id="slider">
  <div id="bx-slider">
    <!--foreach $arResult-->
    <div class="slide-item" style="background-image:url(./images/bg-1.jpg)">
      <div class="slider-content">
        <h2 class="slide-head">Ночной город восхищает туристов</h2>
        <div class="slide-text">
          В последнее время большое количество туристов приезжает в город Краснодар. Они очарованы обликом города и его ночными видами...
        </div>
        <a href="" class="btn-news-detail">Подробнее<i class="ic_triangle"></i></a>
      </div>
    </div>
    <div class="slide-item" style="background-image:url(./images/bg-2.jpg)">
      <div class="slider-content">
        <h2 class="slide-head">Заголовок слайда2</h2>
        <div class="slide-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eveniet placeat animi sequi blanditiis architecto odit voluptatibus quibusdam nisi mollitia consectetur ipsa adipisci sint, impedit, incidunt qui obcaecati hic officiis.
        </div>
        <a href="" class="btn-news-detail">Подробнее<i class="ic_triangle"></i></a>
      </div>
    </div>
    <div class="slide-item" style="background-image:url(./images/bg-3.jpg)">
      <div class="slider-content">
        <h2 class="slide-head">Заголовок слайда3</h2>
        <div class="slide-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab eveniet placeat animi sequi blanditiis architecto odit voluptatibus quibusdam nisi mollitia consectetur ipsa adipisci sint, impedit, incidunt qui obcaecati hic officiis.
        </div>
        <a href="" class="btn-news-detail">Подробнее<i class="ic_triangle"></i></a>
      </div>
    </div>
    <!--endforeach-->
  </div>
  <div id="bx-pager">
    <a data-slide-index="0" href="">Ночной город восхищает туристов <span class="date">7 ноября 2016</span></a>
    <br>
    <a data-slide-index="1" href="">Заголовок слайда 2<span class="date">7 ноября 2016</span></a>
    <br>
    <a data-slide-index="2" href="">Заголовок слайда 3<span class="date">7 ноября 2016</span></a>
  </div>
  <div class="row text-center">
    <a href="#" title="Все новости ассоциации" class="all-news-link"><i class="ic_book"></i><span>Все новости ассоциации</span></a>
  </div>
</div>